.feed {
	.box(25px 0);
	.column(@center; @center);
	
	width: 100%;

	.feed-item {
		.box(10px 15px);
		.column(@center);

		border: 2px solid #ededed;
		border-radius: 5px;

		margin: 30px auto;
		width: 84%;
		width: 84vw;
		max-width: 500px;

		position: relative;

		.icon-cont {
			.size(52px; 52px);

			background: linear-gradient(45deg, @lightpurple, @purple);
			background: @salmon;
			border: 2px solid white;
			border-radius: 50%;

			position: absolute;
			top: 5px;
			right: 5px;

			/* moved from watchlist to seen */
			&.moved {
				right: 40px;
			}

			.icon {
				.size(32px; 32px);

				margin: 10px 0 0 10px;
				display: inline-block;
			}
		}

		.film {
			.box(10px 10px 20px 10px);
			.size(370px; 300px);
			.column(@center);

			width: 100%;
		}

		.poster-medium {

			background-position: center center;
			margin: 0 auto 10px auto;

			&.no-poster {
				margin: 0 auto 10px auto;

				p {
					color: white;
				}
			}
		}

		.title {
			.font(bold; 24px);

			color: @grey;
			margin: 14px 0 0 0;
			text-align: center;
			text-transform: none;
		}

		.who-did-what {
			.font(bold);
			.row(@left; @center);
			
			border-top: 2px solid #ededed;
			color: @grey;
			font-weight: normal;
			padding: 8px 0 0 0;
			width: 100%;

			.user {
				margin: 0 5px;
			}

			/* what was done (ex: added to watched) */
			p {
				margin: 10px 0;
			}
		}

		.tags {
			.row(@center);
			.wrap;
			.trim;

			.tag {
				margin: 3px;
				display: inline-block;
			}
		}

		.timestamp {
			.naughty(column; @center;);

			margin: 4px 0 0 0;
		}
	}

	.nothing-to-display {
		.box(0 30px);
	}
}

@media (min-width: 740px) {

	.feed {

		.feed-item {
			margin: 50px auto;
			max-width: 400px;

			.film {
				.size(400px; 300px);
			}
		}
	}
}