.film-view {
	.row();

	.primary-container {
		height: ~"calc(100% - 40px)";
		max-height: 900px;
		width: 40%;

		position: fixed;
		top: 40px;
		left: 0;

		.poster-container {
			height: 100%;
			width: 100%;

			.poster {
				.size(100%; 100%);

				background-size: cover;
			}

			.no-poster {
				background-color: @blue;
				background-size: cover;
				height: 100%;
				width: 100%;

				h3 {
					.font(400, 20px);

					color: white;
					padding: 80px 0 0 0;
					text-align: center;
					text-transform: uppercase;
				}

				.logo {
					.size(98px; 98px);

					margin: 0 auto;
				}
			}
		}

		.main-info-container {
			.box(0 30px 60px 30px);
			.row(@spread; @bottom);

			background: linear-gradient(rgba(0, 0, 0, 0.55) 35%, rgba(64, 111, 192, 1));
			background: linear-gradient(rgba(0, 0, 0, 0.55) 35%, rgba(52, 27, 50, 1));
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;

			.wrapper {
				.row(@spread);

				width: 100%;
			}

			.title-container {

				.title {
					.font(700; 40px);

					color: white;
					margin: 0 20px 0 0;
					text-transform: none;
					text-align: left;

					&.long-title {
						.font(700; 32px);
					}

					&.very-long-title {
						.font(700; 24px);
					}
				}

				.year {
					.font(@s: 22px);

					color: white;
					margin: 0;
				}

				.type-duration {
					.font(bold; 18px;);

					color: white;
					padding: 15px 0 0 0;
					margin: 0 0 0 0;
					text-transform: uppercase;
				}
				
			}

			// set film status
			.status-container {
				.row(@spread);

				position: relative;

				.current {
					.size(50px; 50px;);
					.transition(@dur: 0.15s);
					.column(@center; @center);

					background: @salmon;
					border-radius: 50%;
					border: 2px solid white;
					box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
					min-height: 50px;
					max-height: 50px;
					z-index: 2;
				}

				.current.shrink {
					transform: scale(0.7) rotate(135deg);
				}

				.options{
					max-height: 70px;

					position: absolute;
					left: ~"calc(50% - 25px)";

					.option {
						.transition(@dur: 0.15s; @func: cubic-bazier(.175,.67,.83,.67));
						.box(5px;);

						background: @salmon;
						border-radius: 50%;
						border: 2px solid transparent;
						box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
						display: block;
						z-index: 2;

						// the position of the options when visible
						&:first-child {
							transform: translateY(-55px) translateX(-30px);
						}

						&:nth-child(2) {
							transform: translateY(-50px) translateX(-60px);
						}

						&:nth-child(3) {
							transform: translateY(-45px) translateX(-30px);
						}

						.icon {
							.size(36px; 36px;);

							min-height: 36px;
							mix-height: 36px;
						}
					}
				}

				.options.hidden {
					.transition;

					.option {

						&:first-child {
							transform: translateY(2px) translateX(2px) scale(0.4);
						}

						&:nth-child(2) {
							transform: translateY(-48px) translateX(2px) scale(0.4);
						}

						&:nth-child(3) {
							transform: translateY(-98px) translateX(2px) scale(0.4);
						}
					}
				}
			}
		}
	}

	.additional-container {

		margin-left: 40%;
		width: 60%;

		.film-info-container {
			background: @purple;
			min-height: ~"calc(100vh - 40px)";
			max-height: 900px;

			// genre, country, synopsis
			.film-details {
				.box(60px 40px);

				margin: 0 0 40px 0;

				h3 {
					.font(400; 18px);

					color: @salmon;
					margin: 4px 0;

					// country
					&:nth-child(2) {
						.font(bold; 20px);
						margin: 8px 0 0 0;
						text-transform: uppercase;
					}
				}

				.synopsis {
					.box(30px 0);

					.arrow {
						display: none;
					}

					// "synopsis"
					h3 {
						.font(600; 18px);

						color: white;
						margin: 0;
					}

					// when synopsis is clicked the text shows
					#synopsis-text {

						&:checked ~ .synopsis-text {
							display: block;
						}
					}

					.synopsis-text {
						color: white;
						font-size: 18px;
						display: block;
						margin: 10px 0;
					}
				}
			}

			.film-creators {
				.box(30px 40px 60px 40px);

				background: @darkpurple;
				position: relative;

				// slanted line on top
				&:before {
					.size(0; 0);

					display: block;
					content: "";
					border-bottom: 30px solid @darkpurple;
					border-left: 100vw solid transparent;

					position: absolute;
					top: -30px;
					left: 0;
				}

				// director, writer..
				h4 {
					.font(900; 18px);
					.column;

					color: @salmon;
					margin: 8px 0;
					padding: 5px 0;
					text-transform: none;
						
					span {
						.font(600; 18px);

						color: white;

						margin: 0 6px 0 0;
						text-transform: uppercase;
					}
				}
			}
		}

		.coterie-container {
			.box(40px);

			position: relative;

			// slanted line on top
			&:before {
				.size(0; 0);

				display: block;
				content: "";
				border-bottom: 30px solid white;
				border-right: 100vw solid transparent;

				position: absolute;
				top: -30px;
				left: 0;
			}


			// seen and watchlist
			.watchers-list {
				margin: 0 0 50px 0;

				// 'seen by' and 'watchlisted by'
				h3 {
					.font(600, 18px);

					color: @blue;
					text-transform: uppercase;
				}

				// watcher
				li {	
					display: inline-block;
					margin: 0 5px 0 0;
				}
			}

			// labels
			.tags-section {
				margin: 0 0 50px 0;

				// 'seen by' and 'watchlisted by'
				h3 {
					.font(600, 18px);

					color: @blue;
					text-transform: uppercase;
				}

				.tags-list {
					display: none;

					.single-user {
						margin: 0 0 15px 17px;

						.users-tags {
							padding: 2px 0 0 0;
						}

						// tag
						li {
							display: inline-block;
						} 
					}
				}

				#tags-on-film {

					&:checked ~ .tags-list {
						display: block;
						padding: 15px 0;
					}
				}
			}

			// comments' styles in views/comment.less
		}
	}
}

@media (max-width: 960px) {

	.film-view {
		.column;

		.primary-container {
			height: 450px;
			position: relative;
			top: 0;
			width: 100%;

			.main-info-container {
				.box(0 20px 40px 20px);

				.title-container {

					.title {
						.font(bold; 34px);

						&.long-title {
							.font(bold; 26px);
						}

						&.very-long-title {
							.font(bold; 20px);
						}
					}

					.year {
						font-size: 20px;
					}

					.type-duration {
						font-size: 16px;
					}
				}

				// slanted line on the bottom
				&:before {
					border-top: 30px solid @darkpurple;
					border-left: 100vw solid transparent;
					content: "";
					display: block;

					position: absolute;
					left: 0;
					bottom: -30px;
				}
			}
		}

		.additional-container {
			margin-left: 0;
			height: auto;
			width: 100%;

			.film-info-container {
				.box(30px 0 50px 0);
				padding: 0;

				box-shadow: none;
				min-height: auto;
				max-height: none;


				.film-details {
					.box(40px 20px 20px 20px);

					background: @purple;
					margin: 0;

					h3 {
						font-size: 16px;
					}

					.synopsis {

						h3 {
							font-size: 16px;
							margin: 0 0 0 12px;
						}

						.arrow {
							display: block;
						}

						.synopsis-text {
							font-size: 16px;
							display: none;
						}
					}
				}

				.film-creators {
					padding: 15px 20px 40px 20px;

					h4 {
						font-size: 18px;

						span {
							font-size: 16px;
						}
					}
				}
			}

			.coterie-container {
				.box(20px);

				.watchers-list,
				.tags-section {
					margin: 0 0 30px 0;

					h3 {
						font-size: 16px;
					}
				}
			}
		}
	}
}