/* film */
.film {
	overflow: hidden;

	/* poster, title, year, status */
	.details {
		position: relative;

		.poster {
			.size(~"calc(100vh - 80px)"; 100%);
			.size(490px; 100%);

			background-position: top center;
			background-repeat: no-repeat;
			background-size: cover;

			/*-webkit-filter: grayscale(1);
			filter: grayscale(100%);*/
		}

		.no-poster {
			.size(~"calc(100vh - 80px)"; 100%);
			.size(450px; 100%);
			.column(@center; @center);

			background: @purple;

			/* "no poster" */
			h3 {
				color: white;
			}

			.logo {
				.size(86px; 86px);

				margin: 0 0 100px 0;
			}
		}

		/* title and status */
		.main-info {
			.box(30px 20px 60px 20px);
			.column(@spread; @spread);
			.size(490px; 100%);

			background: linear-gradient(
				rgba(0, 0, 0, 0.55),
				rgba(64, 111, 192, 1));
			background-blend-mode: multiply;
			margin: 0;

			position: absolute;
			bottom: 0;
			left: 0;

			.title-status-container {
				.row(@spread;);

				width: 100%;
			}

			.title-container {
				max-height: 250px;
			}

			.title {
				.font(700; 28px);

				color: white;
				margin: 0 50px 0 0;
				text-transform: none;
				text-align: left;

				&.long-title {
					.font(700; 24px);
				}

				&.very-long-title {
					.font(700; 20px);
				}
			}

			.year {
				.font(@s: 18px);

				color: white;
				margin: 0;
			}

			.type-duration {
				.font(@w: bold);

				color: white;
				padding: 15px 0 0 0;
				margin: 0 0 0 0;
				text-transform: uppercase;
			}

			&.no-poster-main-info {
				background: linear-gradient(
					rgba(0, 0, 0, 0.2),
					rgba(0, 0, 0, 1));
			}
		}		
	}

	/* director, wtiter, actors, synopsis, recommend btn */
	.additional-info {
		.box(15px 25px);

		background: @lightpurple;
		position: relative;

		&:before {
			.size(0; 0);

			display: block;
			content: "";
			border-bottom: 50px solid @lightpurple;
			border-left: 100vw solid transparent;

			position: absolute;
			top: -50px;
			left: 0;
		}

		&:after {
			.size(0; 0);

			display: block;
			content: "";
			border-top: 30px solid @lightpurple;
			border-left: 100vw solid transparent;
			overflow: hidden;

			position: absolute;
			bottom: -30px;
			left: 0;
		}

		h3 {
			color: white;
			padding: 5px 0;
		}

		h4 {
			.font(bold; 16px);

			color: white;
			margin: 0;
			padding: 5px 0;
			
			span {
				.font(normal; 16px);

				margin: 0 6px 0 0;
			}

		}

		.synopsis {
			.box(20px 0);

			background: @lightpurple;

			/* "synopsis" */
			h3 {
				color: white;
			}

			#synopsis-text {

				&:checked ~ .synopsis-text {
					display: block;
				}
			}

			.synopsis-text {
				color: white;
				display: none;
				margin: 10px 0;
			}
		}

		.recommend-cont {
			margin: 20px 0;

			.recommend {
				display: block;
				margin: 0 auto;
			}
		}
	}

	/* in seen, in watchlist, tagged as */
	.users-input {
		.box(0 25px);

		margin: 40px 0 0 0;

		/* seen and watchlist */
		.watchers-list {
			margin: 0 0 30px 0;

			/* 'seen by' and 'watchlisted by' */
			h3 {
				.font(700, 16px);

				color: @purple;
				text-transform: uppercase;
			}

			/* watcher */
			li {	
				display: inline-block;
				margin: 0 5px 0 0;
			}
		}

		/* labels */
		.tags-section {
			margin: 0 0 30px 0;

			.tags-list {
				display: none;

				.single-user {
					margin: 0 0 10px 0;

					.users-tags {
						padding: 5px 0 0 0;
					}

					/* tag */
					li {
						display: inline-block;
					} 
				}
			}

			#tags-on-film {

				&:checked ~ .tags-list {
					display: block;
				}
			}
		}

		/* comments' styles in views/comment.less */
	}
}


@media (min-width: 740px) {

	.film {

		.wrapper {
			.row;
			.size(100%; 100%);
		}

		.details {

			.poster {
				.size(~"calc(100vh - 40px)"; 40%;);

				max-height: 800px;
			}

			.no-poster {
				.size(~"calc(100vh - 40px)"; 40%;);

				max-height: 800px;
			}

			.main-info {
				.size(~"calc(100vh - 40px)"; 40%);

				background: linear-gradient(
					90deg,
					rgba(95, 156, 221, 0.7),
					rgba(0, 0, 0, 0.55),
					rgba(95, 156, 221, 0.7));

				max-height: 800px;

				&.no-poster-main-info {
					background: transparent;
				}

				.title {
					font-size: 32px;
				}
			}
		}

		.additional-info {
			.size(~"calc(100vh - 40px)"; 60%);

			max-height: 800px;
			overflow-y: auto;

			position: absolute;
			top: 40px;
			right: 0;

			/* no slanted lines */
			&:before,
			&:after {
				display: none;
			}

			/* more-info item */
			h4,
			.synopsis {
				margin: 0 0 0 2vw;
				max-width: 550px;

				&:first-child {
					margin-top: 50px;
				}
			}

			h4 {
				.font(bold; 18px);

				span {
					.font(normal; 18px);
				}
			}

			.synopsis {
				height: 300px;

				.synopsis-text {
					.box(10px 0 50px 0);
				}
			}
		}

		.users-input {
			.box(50px 30px 0 30px);

			margin: 0 auto;
			max-width: 550px;

			position: relative;

			&:before {
				.size(0; 0);

				display: block;
				content: "";
				border-bottom: 50px solid white;
				border-left: 100vw solid transparent;

				position: absolute;
				top: -50px;
				left: 0;
			}
		}
	}
}
