.user {

	/* USER BASE ELEMS */

	/* avatar & username
	   below the header */
	.user-personal {
		.row(@center; @center);
		.box(20px);

		border-bottom: 2px solid #ededed;
		margin: 0 auto;
		width: 90%;

		.avatar-medium {
			border: 2px solid white;
		}

		/* contains username & friendship status */
		article {
			.column;

			margin: 0 0 0 15px;
		}

		.username {
			.font(700; 24px);

			color: @grey;
			margin: 0;
			text-transform: none;
			word-break: break-all;
		}

		.p-buttons {
			.naughty(column; @left);
			.column(@center);

			max-width: 120px;

			button {
				margin: 0 0 10px 0;
			}

			p {
				.font(400; 14px);

				margin: 0;
			}
		}
	}

	/* tab-like lists switcher
	   at the bottom of the view */
	.list-nav {
		.row(@spread; @center);
		background: linear-gradient(45deg, @lightpurple, @purple);

		height: 40px;
		width: 100%;

		position: fixed;
		bottom: 0;
		left: 0;

		a {
			.font(700; 14px);
			.box(5px 15px);
			.row(@center; @center);

			cursor: pointer;
			text-align: center;
			text-transform: uppercase;

			&:hover,
			&.selected {

				background-color: transparent;

				.watchlisted-icon-white {
					background-image: url('../images/current/icon-watchlist-1.svg');
				}

				.watched-icon-white {
					background-image: url('../images/current/icon-watched-1.svg');				
				}

				.updates-icon-white {
					background-image: url('../images/current/icon-updates-1.svg');
				}
			}

			.icon {
				.size(24px; 24px;);

				display: inline-block;
				min-height: 24px;
				min-width: 24px;
			}
		}

		label {

			span {
				.size(24px; 24px;);

				min-height: 24px;
				min-width: 24px;
				display: block;
			}
		}

		.selected {
			color: @lightpurple;
			background: white;
		}	
	}
}
