.user {

	/* USER BASE ELEMS */

	/* avatar & username
	   location: below the header */
	.user-personal {
		.row(@left; @center);
		.box(20px 0);

		border-bottom: 2px solid #ededed;
		margin: 0 25px;

		.avatar-medium {
			border: 2px solid white;
		}

		/* contains username & friendship status */
		article {
			.column;

			margin: 0 0 0 15px;
		}

		.username {
			.font(700; 24px);

			color: @grey;
			margin: 0;
			text-transform: none;
			word-break: break-all;

			position: -moz-sticky;
			top: 0;

			&.to-fixed {
				position: fixed;
				top: 0;
			}
		}
	}

	/* tab-like lists switcher
	   location: at the bottom of the view */
	.list-nav {
		.row(@spread; @center);
		background: linear-gradient(45deg, @lightpurple, @purple);

		height: 40px;
		width: 100%;

		position: fixed;
		bottom: 0;
		right: 0;

		/* list item */
		a {
			.font(700; 14px);
			.box(5px 15px);
			.row(@center; @center);

			cursor: pointer;
			text-align: center;
			text-transform: uppercase;

			&:hover,
			&.selected {

				background-color: transparent;

				.watchlisted-icon-white {
					background-image: url('../images/current/icon-watchlist-1.svg');
				}

				.watched-icon-white {
					background-image: url('../images/current/icon-watched-1.svg');				
				}

				.updates-icon-white {
					background-image: url('../images/current/icon-updates-1.svg');
				}
			}

			.icon {
				.size(24px; 24px;);

				display: inline-block;
				min-height: 24px;
				min-width: 24px;
			}

			.list-title {
				display: none;
			}
		}

		label {

			span {
				.size(24px; 24px;);

				min-height: 24px;
				min-width: 24px;
				display: block;
			}
		}

		.selected {
			color: @lightpurple;
			background: white;
		}	
	}

	/* list container */
	.user-list-container {
		.box(20px 25px 50px 25px);

		width: 100%;
	}

	/* not firiends */
	.hidden-data {
		margin: 20px 25px;

		.small-text {
			margin: 6px 0 0 0;
		}

		/* user status */
		article {
			.column(@center);

			margin: 20px 0 0 0;

			p {
				color: #555;
			}
		}
	}

	/* SPECIFIC LIST STYLES */
	/* most of the styles are in list.less */

	/* film lists */
	
	/* list title (seen, watchlist..) */
	h2 {
		margin: 0;
		text-align: center;
	}

	/* sorting */
	.order-by {
		.row(@center; @center);
		.box(10px 15px);

		margin: 10px 0;

		/* 'sort by' */
		p {
			margin: 0 10px 0 2px;
		}

		/* options */
		li {
			color: @grey;

			button {
				.font(700; 13px);

				background: transparent;
				border-radius: 3px;
				color: @grey;
				margin: 0 3px;
				padding: 5px 8px;
				text-transform: uppercase;

				&:hover,
				&:focus,
				&.selected {
					background: #ededed;
				}
			}
		}
	}
		
	/* only watchlist has it */
	.other-watchlisters {
		margin: 3px 0 0 0;

		/* user */
		.user {
			margin: 3px 6px 3px 0;
		}
	}

	/* tags list */
	.tags-list {

		/* tag container */
		li {
			margin: 0 6px 6px 0;
		}
	}
}

@media (min-width: 550px) {

	.user {

		.list-nav {
			.box(0 80px);
		}
	}
}
 
@media (min-width: 740px) {

	.user {
		margin: 0 auto;
		max-width: 740px;

		.user-personal {
			.box(40px 0);
		}

		.list-nav {
			.box(50px 0);
			.column(@center; @spread);

			background: linear-gradient(45deg, @purple, @lightpurple);
			height: ~"calc(100% - 40px)";
			width: 60px;

			top: 40px;
			right: 0;
		}

		.user-list-container,
		.hidden-data {
			margin: 0 auto;
			max-width: 740px;
		}

		.other-watchlisters {
			margin: 20px 0 0 0;
		}
	}
}

@media (min-width: 1100px) {

	.user {

		.list-nav {

			width: 150px;

			a {
				.list-title {
					.font(400; 16px;);

					display: inline-block;
					color: white;
					margin: 0 0 0 10px;
				}
			}
		}
	}
}
