
@lightgrey: #555;
@yellow: #FFB900;
@yellow: rgba(255, 191, 0, 1);
@salmon: #FFB900;
@salmon: #FF6E52; //tags
@lightblue: lighten(@lightpurple, 34%);
@grey: #444;

/* colours I like but are not used in the app */
@pumpkin: #EC8500;
@pink: #F4044D;
@realpurple: #6F71E2;

// current
@purple: #406FC4;
@lightpurple: #26ACD2;
@salmon: #FF6D6B;