.feed {
	.box(0 0 30px 0);
	.column(@center; @center);
	
	width: 100%;

	div {
		width: 100%;
	}

	.feed-item {
		.box(20px 30px);
		.column(@center);

		width: 100%;

		> h3 {
			.column(@center; @center);
		}

		.f-title {
			margin: 0 0 0 0;
			text-align: center;
		}

		.icon {
			.size(40px; 40px);

			margin: 0 0 6px 0;
		}

		p {
			.font(bold);
			
			color: @grey;
			font-weight: normal;
			margin: 3px 0 3px 0;

			a {
				.font(bold);

				color: @lightpurple;

				&:hover,
				&:focus {
					color: @purple;
				}
			}

			&.friendship {
				margin: 0;
			}
		}

		.timestamp {
			.naughty(column; @center;);

			margin: 3px 0 0 0;
		}
	}
}