/* film */

.film {

	.f-details {
		position: relative;

		.poster {
			.size(400px; 100%);

			background-position: center;
			background: 
				rgba(255, 255, 255, 0.1);
			background-blend-mode: screen;
			background-size: cover;
			filter: grayscale(100%);
		}

		.f-title-cont {
			.box(20px);

			background: linear-gradient(
				rgba(84, 102, 201, 0.8), rgba(0,168,196, 1));
			background-blend-mode: multiply;
			margin: 0;
			min-height: 70px;
			width: 100%;

			position: absolute;
			bottom: 0;
			left: 0;

			.f-title {
				color: white;
				margin: 0 60px 0 0;
			}

			.f-year {
				margin: 0;
			}
		}

		.f-status {
			.box(10px);

			background: white;
			border-radius: 50%;
			cursor: pointer;
			margin: 20px 20px 20px 20px;

			position: absolute;
			bottom: 0;
			right: 0;
		}		
	}

	.f-synopsis-cont {
		.box(20px 0);

		background: @lightblue;

		h3 {
			color: white;
		}

		input {
			display: none;

			&:checked ~ .synopsis-text {
				display: block;
			}
		}

		.synopsis-text {
			display: none;
			margin: 10px 0;
		}
	}

	.f-more-info {
		.box(20px);

		background: @lightblue;
/*
		h3 {
			.font(@s: 14px; @w: 900);

			color: white;
			margin: 0;
			padding: 5px 0;
			text-transform: uppercase;
		}*/

		h4 {
			color: white;
			font-weight: normal;
			margin: 0;
			padding: 5px 0;
			
			span {
				font-weight: bold;
				margin: 0 6px 0 0;
			}

			&.genre {
				padding: 30px 0 5px 0;
			}
		}

		.recommend-cont {
			margin: 30px 0 20px 0;

			.recommend {
				display: block;
				margin: 0 auto;
			}
		}
	}
}