/* film */

.film {

	.f-details {
		position: relative;

		.poster {
			.size(450px; 100%);

			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			/*-webkit-filter: grayscale(1);*/
/*			filter: grayscale(100%);
*/		}

		.f-main-cont {
			.box(30px 20px);
			.row(@spread);

			background: linear-gradient(
				rgba(64, 111, 196, 0.9),
				@lightpurple);
			background-blend-mode: multiply;
			margin: 0;
			min-height: 70px;
			width: 100%;

			position: absolute;
			bottom: 0;
			left: 0;

			.title {
				.font(700; 24px);
				color: white;
				margin: 0 40px 0 0;
				text-transform: none;
			}

			.year {
				.font(@s: 18px);

				color: white;
				margin: 0;
			}
		}

		.f-status {
			min-height: 42px;
			min-width: 42px;
			cursor: pointer;

			.icon {
				.size(30px; 30px);
			}
		}		
	}

	.f-synopsis-cont {
		.box(50px 0);

		h3 {
			color: white;
		}

		input[type='checkbox'] {

			&:checked ~ .synopsis-text {
				display: block;
			}
		}

		.synopsis-text {
			color: white;
			display: none;
			margin: 10px 0;
		}
	}

	.f-more-info {
		.box(0 20px 20px 20px);

		background: @lightpurple;

		h3 {
			color: white;
			padding: 5px 0;

			&.type-duration {
				.font(@w: bold);

				margin: 0 0 0 0;
				text-transform: uppercase;
			}
		}

		h4 {
			.font(bold; 10px);

			color: white;
			font-size: 16px;
			font-weight: bold;
			margin: 0;
			padding: 5px 0;
			
			span {
				.font(normal; 16px);

				margin: 0 6px 0 0;
			}
		}


		.f-synopsis-cont {
			.box(20px 0);

			background: @lightpurple;

			h3 {
				color: white;
			}

			input {

				&:checked ~ .synopsis-text {
					display: block;
				}
			}

			.synopsis-text {
				display: none;
				margin: 10px 0;
			}
		}

		.recommend-cont {
			margin: 20px 0;

			.recommend {
				display: block;
				margin: 0 auto;
			}
		}
	}

	.comments {

		.comments-list {
			padding: 15px 0 0 15px;

			.text {
				font-size: 14px;
			}

			.comment {
				margin: 0 0 15px 0;
			}
		}
	}
}