/* home */

.home {

	.h-updates-cont {
		border-bottom: 2px solid white;
		position: relative;
		background: @lightpurple;
		width: 100%;

		.close.icon {
			cursor: pointer;

			position: absolute;
			top: 20px;
			left: ~"calc(100% - 40px)";
		}

		input[type="checkbox"] {

			&:checked ~ .h-updates {
				display: none;
			}

			&:checked ~ .close.icon {
				display: none;
			}
		}

		.h-updates {
			color: white;
			margin: 30px 30px;
		}

		p {
			color: white;
			margin: 20px 0 0 0;
		}

		h2 {
			color: white;
		}

		.timestamp {
			color: white;
			display: block;
			margin: 3px 0 20px 0;
			text-align: center;
		}
	}

	.h-lists {
		.column(@left; @center);
		width: 100%;

		h2 {
			.box(0 30px);

			color: @purple;
			margin: 10px 0 20px 0;
			text-align: center;
		}

		.list-item {
			.row(@spread; @center);
			.box(20px 30px);
			
			width: 100%;

			&.film {
				.column;

				.tags {
					.row;
					.wrap;

					padding: 10px 0 0 0;
					max-width: 80%;

					li {
						margin: 6px 6px 6px 0;
						width: auto;
					}
				}
			}
		}
	}

	.new-update {
		.font(700; 14px;);

		background: @lightpurple;
		border-radius: 5px;
		padding: 5px 8px;
		text-transform: uppercase;

		position: fixed;
		bottom: 70px;
		left: 30px;
		left: ~"calc(50% - 45px)";
	}

	.nothing-to-display {
		.box(20px 30px);
	}
}
