/* things in lists */

/* list of films
   film style
   views: results, user/film, tag */
.film-in-list {
	.row();
	.box(20px 0);
	
	width: 100%;

	> div:nth-child(2) {
		width: 100%;
	}

	.title {
		.font(700; 22px);
		.trim;

		color: @grey;
		text-align: left;
		text-transform: none;

		&:hover,
		&:focus {
			color: @lightpurple;
		}
	}

	.year-directors {
		.font(400; 16px);
	}
}


/* list of users
   user styles
   views: results, friends */
.user-in-list {
	.box(20px 0);

	/* avatar/profile pic */
	.image {
		margin: 0 15px 0 0;
	}

	.username {
		.font(700; 22px);

		word-break: break-all;

		&:hover,
		&:focus {
			color: @lightpurple;
		}
	}
}

/* list of tags
   views: user/seen, film */
.tags-list {
	.row;
	.wrap;

	padding: 10px 0 0 0;

	/* tag container */
	/* tag styles in styles.less */
	li {
		margin: 4px 4px 0 0;
		width: auto;
	}
}