/* list item 
   watchlist contains: poster, title, year, directors other watchers
   seen contains: poster, title, year, directors, tags */

.film-in-list {
	.row();
	.box(30px);
	
	width: 100%;

	> div:nth-child(2) {
		width: 100%;
	}

}

/* film's poster */
.poster-small,
.poster-medium {
	.size(100px; 80px);

	min-width: 80px;
	margin: 0 10px 0 0;

	&.no-poster {
		.size(100px; 70px);
		.column(@center; @center);

		background: @purple;
		margin: 0 25px 0 0;
		min-width: 70px;

		/* "no poster" */
		p {
			.font(400; 14px);

			color: white;
			text-align: center;
			text-transform: uppercase;
			margin: 0 6px 6px 6px;
		}

		.logo {
			.size(30px; 30px);
		}
	}
}

/* film's title in lists */
.title {
	.font(700; 22px);

	text-align: left;
	text-transform: none;

	&:hover,
	&:focus {
		color: @lightpurple;
	}
}

.year-directors {
	.font(400; 16px);
}

.tags {
	.row;
	.wrap;

	padding: 10px 0 0 0;
	max-width: 80%;

	li {
		margin: 6px 6px 6px 0;
		width: auto;
	}
}

.other-watchlisters {

	/* "watchlisted by" */
	span {
		.font(600; 12px;);

		color: @grey;
		display: inline-block;
		margin: 10px 0 0 0;
	}
}
