/* things in lists */

/* film item styles displayed in lists of films
   syles used in results, user's film lists */
.film-in-list {
	.row();
	.box(20px 25px);
	
	width: 100%;

	> div:nth-child(2) {
		width: 100%;
	}

	/* film's poster */
	.poster-small,
	.poster-medium {
		.size(100px; 80px);

		min-width: 80px;
		margin: 0 10px 0 0;

		&.no-poster {
			.size(100px; 70px);
			.column(@center; @center);

			background: @purple;
			margin: 0 25px 0 0;
			min-width: 70px;

			/* "no poster" */
			p {
				.font(400; 14px);

				color: white;
				text-align: center;
				text-transform: uppercase;
				margin: 0 6px 6px 6px;
			}

			.logo {
				.size(30px; 30px);
			}
		}
	}

	.title {
		.font(700; 22px);

		text-align: left;
		text-transform: none;

		&:hover,
		&:focus {
			color: @lightpurple;
		}
	}

	.year-directors {
		.font(400; 16px);
	}
}


/* user item styles displayed in lists of users */
.user-in-list {
	.box(20px 25px);

	/* avatar/profile pic */
	.image {
		margin: 0 15px 0 0;
	}

	.username {
		.font(700; 22px);

		word-break: break-all;

		&:hover,
		&:focus {
			color: @lightpurple;
		}
	}
}