
@media (max-width: 350px) {
	.film {
		.f-details {
			.f-main-cont {
				.title {
					font-size: 24px;

					&.long-title {
						.font(700; 20px);
					}

					&.very-long-title {
						.font(700; 20px);
					}
				}
			}
		}
	}
}

@media (min-width: 550px) {

	li, p {
		color: @grey;
	}

	#view {
		padding: 44px 0 50px 0;
	}

	.internal-feed-links {

		a {
			font-size: 15px;
		}
	}

	.f-title {

		&:hover,
		&:focus {
			color: @lightpurple;
		}
	}

	header {
		border-bottom: 2px solid white;
		z-index: 10;
		
		position: fixed;
		top: 0;
		left: 0;

		.heading {
			margin: 0 0 0 30px;

			.logo {
				.size(40px; 40px);
			}
		}

		nav {
			margin: 0 30px 0 0;

			.nav-item {
				.font(700; 15px);

				margin: 0 0 0 12px;
			}
		}

		&.outer-header {
			border: 0;
			margin: 50px 0 0 0;
		}
	}

	.home {

		.h-lists {

			.list {
				margin: 0 auto;
				width: 550px;
			}
		}
	}

	.film {

		.f-details {

			.f-poster-cont {
				background: black;
			}

			.poster {
				.size(490px; 50%);

				background-size: contain;
				margin: 0 auto;
			}

			.f-main-cont {

				.cont {
					margin: 0 auto;
					max-width: 720px;
				}

				.title {
					margin: 0 80px 0 0;
				}

				.status-cont {

					.close.icon {
						&:hover,
						&:focus {
							transition: none;
							transform: none;
						}
					}
				}

				.tagging-cont {
					.naughty(column; @right);

					margin: 0 0 40px 30%;
					max-width: 450px;

					#open-form {

						&:checked ~ .tags-form {
							.column(@right);
						}

						&:checked ~ .film-tags {
							display: none;
						}

						&:not(:checked) ~ .film-tags {
							.row(@right);
						}
					}

					.tags-form {

						fieldset {

							.row(@right);
							.wrap;
						}
					}

					.film-tags {
						.wrap;

						max-width: 350px;

						li {
							margin: 3px;
						}
					}
				}
			}
		}

		.f-more-info {

			.cont {
				margin: 0 auto;
				max-width: 720px;
			}
		}

		.peek {
			margin: 0 auto;
			max-width: 760px;

			.comments {
				max-width: 550px;
			}
		}
	}

	.home {
		.column(@center);

		.h-updates-cont {

			.h-updates {
				.box(30px);

				max-width: 550px;
				margin: 0 auto;
			}
		}

		.h-watchlist {
			max-width: 550px;
			margin: 0 auto;
		}
	}

	.feed {
		margin: 0 auto;

		.feed-item {
			padding: 25px 0;
		}
	}

	.profile {

		.p-intro-cont {
			padding: 30px 0;
		}

		.p-intro {
			.box(30px);
			max-width: 550px;
			margin: 0 auto;
		}

		.peek {
			min-width: 350px;
			max-width: 550px;
			margin: 0 auto;
		}
	}
}

@media (min-width: 960px) {

	body {
		overflow-y: scroll;
	}

	#search-form {

		input[type="search"] {
			padding: 9px 24px;
		}

		.submit,
		.reset {
			display: none;
		}
	}

	.results {
		max-width: 550px;
		margin: 0 auto;
	}

	.feed,
	.updates {
		overflow: hidden; 

		.internal-feed-links {
			width: 100%;
		}
	}

	.profile {
		.row;

		.p-intro-cont {
			
			height: ~"calc(100vh - 80px)";
			min-width: 350px;
			width: 350px;

			position: fixed;

			&:before {
				display: none;
			} 
		}

		.p-intro {
			.box(30px);
			.column(@center);

			margin: 0 auto;

			.avatar {
				margin: 40px 0 20px 0;
			}

			.username {
				margin: 20px auto;
			}

			.p-buttons {
				margin: 0;

				.settings-icon {
					position: fixed;
					top: 60px;
					left: 300px;
				}
			}
		}

		.peek,
		.no-peek {
			padding: 40px 50px;
			margin-left: 350px;
		}

		.peek {
			min-width: 650px;
			max-width: 700px;

			section {

				input[type="checkbox"]:checked ~ .film-list li {

					.poster-small {
						.size(100px; 100px);

						min-width: 100px;
					}

					&.nothing-to-display {
						.column;
					}
				}
			}
		}
	}

	.settings {
		margin: 0 auto;
		max-width: 550px;
	}

	.film {

		.f-details {
			background-color: black;

			.poster {
				.size(450px; 40%);

				background-position: center center;
				background-size: contain;
				margin: 0;
			}

			.no-poster {
				.column(@left; @center);

				h3 {
					margin: 0 0 0 100px;					
				}

				.logo {
					margin: 0 0 0 100px;
				}
			}

			.f-main-cont {
				.size(450px, 100%);
				.column(@center; @spread);

				background: linear-gradient(
					rgba(0, 0, 0, 0.1),
					rgba(0, 0, 0, 0.5));
				padding: 50px 50px 70px 50px;

				.cont {
					.row(@spread);
					margin: 0 0 0 40%;
					max-width: 840px;
					width: 60%;
				}

				.title {
					font-size: 42px;
					margin: 0 80px 0 0;

					&.long-title {
						.font(700; 34px);
					}

					&.very-long-title {
						.font(700; 24px);
					}
				}

				.year {
					font-size: 20px;
				}

				.status-cont {
					margin: 10px 0 0 0;
				}

			}
		}

		.f-more-info {
			padding: 30px 150px;

			.cont {
				max-width: 1400px;
				margin: 0 auto;
			}

			h4 {
				max-width: 740px;
				font-size: 18px;

				span {
					font-size: 18px;
				}
			}

			.f-synopsis-cont {

				.synopsis-text {
					max-width: 740px;
				}
			}
		}

		.peek {
			.row(@center);

			padding: 40px;
			max-width: 1400px;
			margin: 0 auto;
			width: 100%;

			.left-side {
				width: 330px;
				max-width: 330px;
			}

			.comments {
				padding: 20px 30px;
				width: 550px;
			}
		}
	}

	.tag-view {

		.tag {
			margin: 30px 0;
		}
	}

	.error-message,
	.action-message {
		width: 40%;

		margin: 0 30%; 
	}
}