/* fonts */
@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
		url('../fonts/source-sans-pro-v9-latin-ext_latin-regular.woff2') format('woff2'),
		url('../fonts/source-sans-pro-v9-latin-ext_latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
		url('../fonts/source-sans-pro-v9-latin-ext_latin-600.woff2') format('woff2'),
		url('../fonts/source-sans-pro-v9-latin-ext_latin-600.woff') format('woff');
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 700;
	src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
		url('../fonts/source-sans-pro-v9-latin-ext_latin-700.woff2') format('woff2'),
		url('../fonts/source-sans-pro-v9-latin-ext_latin-700.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'), local('PTSans-Bold'),
		url('../fonts/pt-sans-v8-cyrillic-ext_cyrillic-700.woff2') format('woff2'),
		url('../fonts/pt-sans-v8-cyrillic-ext_cyrillic-700.woff') format('woff');
}


.animation(@name; @dur: 0; @func: ease; @del: 0; @itr; @direct;) {
	-webkit-animation-name: @name;
	-moz-animation-name: @name;
	-o-animation-name: @name;
	animation-name: @name;

	-webkit-animation-duration: @dur;
	-moz-animation-duration: @dur;
	-o-animation-duration: @dur;
	animation-duration: @dur;

	-webkit-animation-timing-function: @func;
	-moz-animation-timing-function: @func;
	-o-animation-timing-function: @func;
	animation-timing-function: @func;

	-webkit-animation-delay: @del;
	-moz-animation-delay: @del;
	-o-animation-delay: @del;
	animation-delay: @del;

	-webkit-animation-iteration-count: @itr;
	-moz-animation-iteration-count: @itr;
	-o-animation-iteration-count: @itr;
	animation-iteration-count: @itr;

	-webkit-animation-direction: @direct;
	-moz-animation-direction: @direct;
	-o-animation-direction: @direct;
	animation-direction: @direct;
}

.box(@p: 0) {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: @p;
}

.fontf() {
	font-family: "Source Sans Pro", "PT Sans", sans-serif;
}

.font-upper(@c: white) {
	.font(@w: 400; @s: 14px);
	color: @c;
	text-transform: uppercase;
}

.font(@w: normal; @s: 16px;) {
	font-weight: @w;
	font-size: @s;
	font-family: "Source Sans Pro", "PT Sans", sans-serif;
}

.no-wrap {
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}


.size(@h: 0; @w: 0;) {
	height: @h;
	width: @w;
}

.transition(@prop: all; @dur: 0.125s; @del: 0s; @func: ease;) {
	-webkit-transition-property: @prop;
	-moz-transition-property: @prop;
	-o-transition-property: @prop;
	transition-property: @prop;
	-webkit-transition-duration: @dur;
	-moz-transition-duration: @dur;
	-o-transition-duration: @dur;
	transition-duration: @dur;
	-webkit-transition-delay: @del;
	-moz-transition-delay: @del;
	-o-transition-delay: @del;
	transition-delay: @del;
	-webkit-transition-timing-function: @func;
	-moz-transition-timing-function: @func;
	-o-transition-timing-function: @func;
	transition-timing-function: @func;
}

.trim {
	margin: 0;
	padding: 0;
}

.wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
