.profile {

	.p-intro-cont {
		.box(30px);
		
		background: @lightpurple;
		position: relative;

		&:before {
			.size(0; 0);

			display: block;
			content: "";
			border-top: 15px solid @lightpurple;
			border-left: 100vw solid transparent;

			position: absolute;
			bottom: -15px;
			left: 0;
		}
	}

	.p-intro {
		.row(@spread);

		width: 100%;

		.avatar {
			.size(120px; 120px);
			.box();

			background-color: white;
			border: 4px solid white;
			border-radius: 50%;
			margin: 0 20px 0 0;
			min-height: 120px;
			min-width: 120px;
		}

		article {
			.column;
		}

		.username {
			.font(700; 24px);

			color: white;
			margin: 10px 0 30px 0;
			text-transform: none;
			word-break: break-all;
		}

		.p-buttons {
			.naughty(column; @right);
			.column(@center);

			max-width: 120px;

			button {
				margin: 0 0 10px 0;
			}

			p {
				.font(bold);

				color: white;
				margin: 0;
			}

			.settings-icon {
			}
		}
	}

	.no-peek {
		.column(@left; @center);

		.box(30px);
		margin: 30px 0 0 0;
		min-height: 250px;

		p {
			margin: 0 0 20px 0;

			button {
				margin: 0 10px 0 0;
			}
		}
	}

	.films-list,
	.friends-list {

		.f-title {
			margin: 0;
		}

		.nothing-to-display {
			margin: 10px 0 0 0;

			h3 {
				margin: 10px 0;
			}
		}
	}
}
