/* profile */

.profile {

	.p-intro {
		.box(30px);
		.row(@spread);

		background: @lightpurple;

		.username {
			.font(700; 24px);

			color: white;
			text-transform: none;
		}

		p {
			.font;

			color: white;
			margin: 5px 0;

			span {
				.font(700);
				margin: 0 5px 0 0;
			}
		}

		.add-friend {
			.size(36px; 36px);

			.add-icon {
				.size(25px; 25px);
			}
		}
	}

	.film-list {

		.f-title {
			margin: 0 30px 0 0;
		}
	}
}