.results {
	.box(30px);

	h2 {
		text-align: center;
	}

	.results-cont {
		.column;
	}

	.result-cont {
		margin: 20px 0; 
	}

	h3.message {
		color: @purple;
		margin: 20px 0;
	}

	.result {


		&.user {
			
			.row(@y: @center);

			h3 {
				color: @lightpurple;
			}
		}
	}

	.more-results {

		h3 {
			margin: 20px 0;
		}

		button {
		}
	}
}