@import (inline) "bower_components/normalize-css/normalize.css";
@import "bower_components/stellar/stellar";
@import "colours";
@import "icons";
@import "mixins";


/* classes used by js */
.no-display {
	display: none;
}

/* temp for testing */
.foggy {
	opacity: 0.2;
}

.uninteractive {

	a {
		pointer-events: none;
	}
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* main styles */

html, body {
	.trim;
}

h1, h2, h3, h4, h5, h6 {
	.fontf();

	color: @grey;
	margin: 0;
}

a {
	.font(700);

	color: white;
	text-decoration: none;
}

p, span, label, li, input, textarea {
	.font();
}

p {
	color: @grey;
}

ul {
	.trim;
	
	list-style: none;
}

.small-text {
	.font(600; 13px);
	.trim;

	color: @grey;
}

html,
a,
button,
label {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
.btn {
	.font(600);
	.box(4px 18px);

	background: transparent;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	outline: none;

	&.dark {
		border: 2px solid white;
		background: transparent;
		color: white;		

		&:hover,
		&:focus {
			background: white;
			color: @lightpurple;
		}
	}

	&.light {
		background: white;
		border: 2px solid @lightpurple;
		color: @lightpurple;

		&:hover,
		&:focus {
			background: @lightpurple;
			color: white;
		}
	}

	&.tiny {
		.box(1px 2px);

		color: @grey;
		border: none;
		border-radius: 0;

		&:hover,
		&:focus {
			background-color: @lightpurple;
			color: white;
		}
	}
}

/* view's headings */
h2 {
	.font(normal; 16px);

	color: @purple;
	margin: 20px 25px;
	text-transform: uppercase;
}

#view {
	.box(40px 0 0 0);

	min-height: ~"calc(100vh - 50px)";
	overflow: hidden;
}

.notification-marker {
	.size(14px; 14px);
	.box();

	background: @yellow;
	border: 1px solid white;
	border-radius: 50%;

	position: absolute;
	top: 2px;
	left: 28px;
}

.to-top {
	&:before {
		content: "to top";
	}
}

/* images */

.image {
	background-repeat: no-repeat;
	background-size: contain;
}

.logo {
	.size(80px; 80px);

	background-image: url(../images/current/logo.svg);
}

.avatar {
	.size(100px; 100px);

	min-height: 100%;
	min-width: 100%;
}

.avatar-small {
	.size(25px; 25px);

	background-image: url(../images/adder1-1.jpg);
	background-size: contain;
	border-radius: 50%;
	min-height: 25px;
	min-width: 25px;
}

.avatar-medium {
	.size(50px; 50px);

	background-color: white;
	border: 2px solid white;
	border-radius: 50%;
	min-height: 50px;
	min-width: 50px;

	margin: 0;
}


/* icons */

.icon {
	.size(34px; 34px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 32px;
	min-width: 32px;
}

.unknown-icon-white,
.add-icon-white {
	background-image: url(../images/current/icons/icon-add-white.svg);	
}

.watchlist-icon {
	background-image: url(../images/current/icons/icon-watchlist-outline.svg);
}

.watchlist-icon-white {
	background-image: url(../images/current/icons/icon-watchlist-white.svg);
}

.seen-icon {
	background-image: url(../images/current/icons/icon-seen-outline.svg);
	width: 42px;
}

.seen-icon-white {
	background-image: url(../images/current/icons/icon-seen-white.svg);
	width: 42px;
}

.watching-icon {
	background-image: url(../images/current/icons/icon-watching-outline.svg);
	width: 42px;
}

.watching-icon-white {
	background-image: url(../images/current/icons/icon-watching-white.svg);
	width: 42px;
}

.friends-icon {
	background-image: url(../images/current/icons/icon-friends-outline.svg);
}

.friends-icon-white {
	background-image: url(../images/current/icons/icon-friends-white.svg);
}

.tag-icon {
	background-image: url(../images/current/icons/icon-tag-outline.svg);
	cursor: pointer;
}

.tag-icon-white {
	background-image: url(../images/current/icons/icon-tag-white.svg);
	cursor: pointer;
}

.remove-icon {
	.size(32px; 32px;);
	background-image: url(../images/current/icons/icon-remove-outline.svg);
	background-color: transparent;
}

.comment-icon {
	background-image: url(../images/current/icons/icon-comment-white.svg);
}

.loading-icon {
	.size(60px; 60px);
	.animation(spin; 1.5s; ease-out; 0s; infinite; normal);

	background-image: url(../images/current/loader.svg);
}

.poster-small {
	.size(110px; 90px);

	min-width: 90px;
	margin: 0 10px 0 0;

	&.no-poster {
		.size(100px; 70px);
		.column(@center; @center);

		background: @purple;
		margin: 0 25px 0 0;
		min-width: 70px;

		/* "no poster" */
		p {
			.font(400; 14px);

			color: white;
			text-align: center;
			text-transform: uppercase;
			margin: 0 6px 6px 6px;
		}

		.logo {
			.size(30px; 30px);
		}
	}
}

.poster-medium {

	margin: 0 10px 0 0;
	height: 90%;
	width: 100%;
	background-size: cover;

	&.no-poster {

		p {
			.font(400; 16px);
		}

		.logo {
			.size(40px; 40px);
		}
	}
}

/* arrow that rotates when clicked */
.arrow {
	.transition(all; .15s; @func: ease;);

	display: inline-block;

	.stroke {
		.size(12px; 2px);

		background: @purple;

		&:first-child {
			transform: rotate(-45deg) translateY(3px);
		}
		&:nth-child(2) {
			transform: rotate(45deg) translateY(-3px);
		}
	}

	&.white-arrow {

		.stroke {
			background: white;
		} 
	}
}

.user-link {
	.row(@y: @center);

	.user {
		.trim;
		.font(700; 16px);

		color: @lightpurple;
		text-transform: none;
	}

	&:hover,
	&:focus {

		.user{
			color: @purple;
		}
	}

}

/* username's looks */
.user {
	color: @lightpurple;

	&:hover,
	&:focus {
		color: @purple;
	}
}


/* tag's looks */
.tag {
	.box(1px 4px);
	.font(700);

	color: @salmon;
	display: inline-block;
	cursor: pointer;
	border: 1px solid @salmon;
	border-radius: 3px;

	&:hover,
	&:focus {
		color: white;
		background: @salmon;
		border: 1px solid transparent;
	}

	&.tag-self {
		background: transparent;
		color: white;
		border: 1px solid white;
	}
}

/* arrow that rotates together with the title it accompanies */
.arrow-cont {

	// title and arrow
	label {
		.row(@y: @center);

		cursor: pointer;
		margin: 0;
		width: 100px;
	}

	// title
	h3 {
		.font(700; 16px);
		.row(@y: @center);

		color: @purple;
		margin: 0 0 0 15px;
		text-transform: uppercase;
	}

	input[type="checkbox"] {

		&:checked ~ label .arrow {
			transform: rotate(90deg);
		}
	}

	// arrow
	.arrow {
		margin: 0;
	}
}

.number {
	.font(700; 14px);

	color: white;
	border-radius: 3px;
	display: inline-block;
	background: @purple;
	padding: 0 6px;
	margin: 0 0 0 5px;
}

/* datetimes */
.timestamp {
	.font(400; 12px);

	border-bottom: none;
	color: @lightgrey;
	cursor: default;
	text-transform: uppercase;

	&[title] {
		border: none;
	}

}

/* login and reg section leading to the other */
.wrong-form {
	.column(@right);

	margin: 40px 0 0 0;

	p {
		.trim;

		color: white;

		a {
			font-weight: 600;
		}
	}
}

/* loading between the views (the snake)*/
.loading-cont {
	margin: 50px 0;
	width: 100%;

	.loading-icon {
		margin: 0 auto;
	}
}

/* loading button */
.loading {
	background: @lightpurple; 
	position: relative;

	&.dark {
		color: transparent;

		&:hover,
		&:focus {
			background: transparent;
			color: transparent;
		}

		&:before {
			background: white;
		}
	}

	&.light {
		color: transparent;

		&:hover,
		&:focus {
			background: transparent;
			color: transparent;
		}

		&:before {
			background: @lightpurple;
		}
	}

	&:before {
		.size(13px; 13px);
		.animation(loading; 1s; ease-in-out; 0; infinite; alternate);

		border-radius: 50%;
		content: "";
		display: block;
		visibility: visible;

		position: absolute;
		top: 8px;
	}
}

/* this is what appears if there is no content to be displayed */
.nothing-to-display {
	margin: 20px 0 0 0;

	h3 {
		.font(700; 20px);

		color: @purple;
		margin: 0 0 20px 0;
		text-transform: none;
	}

	p {
		color: @lightgrey;
		margin: 0;

		strong {
			color: @grey;
		}
	}
}


@media (min-width: 740px) {

	.small-text {
		.font(600; 15px);
	}

	.user-link {

		.user {
			.font(700; 18px);
		}

	}

	.user {
		.font(700; 18px);
	}

	.avatar-small {
		.size(35px; 35px);

		min-height: 35px;
		min-width: 35px;
	}

	.avatar-medium {
		.size(80px; 80px);

		min-height: 80px;
		min-width: 80px;
	}

	.poster-container {
		.size(250px; 180px);

		margin: 0 25px 0 0;
	}

	.poster-small {
		.size(250px; 180px);

		background-size: cover;

		&.no-poster {
			.size(250px; 180px);

			min-width: 180px;
		}
	}
}

@import "header";
@import "search";
@import "views/login-reg-form";
@import "views/home";
@import "views/film";
@import "views/comments";
@import "views/feed";
@import "views/results";
@import "views/tag";
@import "views/settings";
@import "views/user";
@import "views/updates";
// partials
@import "tagging";
@import "list";
@import "messages";
@import "keyframes";