@import "bower_components/stellar/stellar";
@import "colours";
@import "icons";
@import "mixins";

@import "film";
@import "home";


/* font */

.font(@w: normal; @s: 1em; @f: "Source Sans Pro", sans-serif) {
	font-weight: @w;
	font-size: @s;
	font-family: @f;
}

/* main */

a, p, h1, h2, h3, h4, h5, h6{
	.fontf();
}

a {
	.font(@w: 700);
	color: white;
	text-decoration: none;
}

body {
	font-size: 66,5%;
}

button {
	.font(@w: 600);
	.box(5px 20px);

	background: linear-gradient(
		to right,
		lighten(@lightblue, 3%),
		@lightblue);
	border: none;
	color: white;
	outline: none;

	&:hover,
	&:focus {
	}
}

h1, h2, h3, h4, h5, h6 {
	color: @grey;
}

input[type="search"] {
	.font;
	border: none;
	color: @grey;
	outline: none;
}

p, span {
	.font;
	color: white;
}

ul {
	.trim;
	list-style: none;
}


/* header */


header {
	.size(40px; 35%);
	.row(@left; @center);

	background: linear-gradient(#333, #222);	
	position: fixed;
	bottom: 0;


	h1 {
		.font(@s: 18px);
	}

	nav {
		.row(@y: @center);
		margin: 0 20px;

		.nav-item {
			.row(@center; @center);
			.size(30px; 30px;);
			margin: 5px;
		}
	}

	a {
		color: white;
		margin: 10px;
	}

	&.outer-header {
		.size(auto; auto;);
		.column(@center);

		background: white;
		margin: 30px;
		position: static;

		.logo {
			.size(250px; 250px);

			background: #999;
		}

		h1 {
			.font(@w: 900; @s: 40px;);
			color: @green;
		}
	}
}

#view {
	.box(0 0 40px 0);
}

#outer {
	.column(@center);
	.size(100vh; 100vw);

	background: linear-gradient(@yellow, @pink1);
}


/* form  (login and  register) */

#form {
	.column(@right);

	p {

		label {
		}

		input {
			.box(@p: 8px 12px);

			background: @green;
			border: 2px solid white;
			margin: 0 0 0 10px;
			outline: none;
			width: 270px;

			&:hover,
			&:focus {
				border: 2px solid @green;
				background: white;
			}
		}
	}
}


/* search */

#search-form {
	background: white;
	width: 65%;

	position: fixed;
	bottom: 0;
	right: 0;

	input[type="search"] {
		.size(100%; 100%);
		.box(9px 12px);

		background: linear-gradient(
			lighten(@darkblue, 60%),
			lighten(@lightblue, 60%));

		&::-moz-placeholder {
		}

		&:hover,
		&:focus {
			background: linear-gradient(
				lighten(@darkblue, 60%),
				white);
		}
	}
}

/* global classes */

.image {
	background-repeat: no-repeat;
	background-size: contain;
}

.arrow {
	display: inline-block;
	transition: all .15s ease;
	.stroke {
		.size(12px; 2px);
		background: @blue;
		&:first-child {
			transform: rotate(-45deg) translateY(3px);
		}
		&:nth-child(2) {
			transform: rotate(45deg) translateY(-3px);
		}
	}
}

.followship {
	background: @greentea;
	box-shadow: inset 0 0 1px @blue;
	.box(0 0 20px 0);
	section {
		.box(20px 20px 0 20px);
		h4 {
			.trim;
			.font(@w: 700; @s: 1em);
			color: @blue;
			text-transform: lowercase;
		}
		ul {
			.row;
			.wrap;
			li {
				margin: 0 8px 0 0;
			}
		}
	}
}

@import "media";