// mixins 

box(n)
	box-sizing border-box
	padding n

 // flexbox
flex()
	display flex
	
direction(n)
	flex-direction n
	
align(n)
	align-items n
	
cont(n)
	justify-content n
	
// fonts

font-main: 400 "Source Sans Pro", sans-serif
font-search: 400 "PT Mono", sans-serif
font-second: 700 Hind, serif

// colours
	
// styles

body
	// background linear-gradient(40deg, lighten(purple, 20), lighten(skyblue, 10) 50%)
	height 100%
	width 100%
	margin 0
	padding 0
	font-size 62.5%
	flex()
	font-main
	cont space-between
	align center
	height: 100px
	margin 0 auto
	max-width: 960px
	h1
		font-size 3em
		font-weight 400
	nav
		a
			font(1.4em)

main 
	max-width: 1200px
	margin 0 auto
	section
		box(50px)

.search
	margin 100px 0 0 0;
	padding 0 50px
	form
		flex()
		direction column
		input
			font(2.4em)
			// background linear-gradient(40deg, lighten(purple, 40), lighten(skyblue, 10) 50%)
			border 3px solid black
			color purple
			font-weight: 500;
			letter-spacing: 1px;
			text-transform uppercase
			padding 8px 15px

.links
	flex()
	direction row
	background purple
	position fixed
	width 100%
	bottom 0
	left 0
	a
		font(1.8em)
		color white
		margin 0 20px
