@import "bower_components/stellar/stellar";
@import "colours";
@import "icons";
@import "mixins";


/* main styles */

html, body {
	.trim;
}

h1, h2, h3, h4, h5, h6 {
	.fontf();

	color: @grey;
	margin: 0;
}

a {
	.font(700);

	color: white;
	text-decoration: none;
}

p, span, label, li {
	.font();
}

p {
	color: @grey;
}

ul {
	.trim;
	
	list-style: none;
}

html,
a,
button,
label {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	tap-highlight-color: rgba(0, 0, 0, 0);
}

button,
.btn {
	.font(600);
	.box(5px 20px);

	border: none;
	border-radius: 20px;
	outline: none;

	&.dark {
		border: 2px solid white;
		background: transparent;
		color: white;		

		&:hover,
		&:focus {
			background: white;
			color: @lightpurple;
		}
	}

	&.light {
		background: transparent;
		border: 2px solid @lightpurple;
		color: @lightpurple;

		&:hover,
		&:focus {
			background: @lightpurple;
			color: white;
		}
	}
}


.hidden {
	display: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
}

/* header */

header {
	.size(44px; 100%);

	border-bottom: 2px solid white;
	background: @lightpurple;

	.wrapper {
		.row(@spread; @center);
	}

	.heading {

		padding: 0 0 0 18px;

		.logo {
			.size(38px; 38px);
		}

		/*h1 {
			.font(700; 18px);

			color: white;
		}*/

	}

	nav {
		.row(@right; @center);
		.size(44px; auto);

		margin: 0 10px 0 0;

		.nav-item {
			.row(@center; @center);
			.font(700; 14px);
			.transition;

			border-radius: 3px;
			color: white;
			margin: 0 0 0 5px;
			padding: 5px 8px;
			text-transform: uppercase;

			&:hover,
			&:focus,
			&.clicked {
				color: @lightpurple;
				background: white;
			} 
		}

		a {
			margin: 10px;
		}
	}


	&.outer-header {
		.size(auto; auto;);
		.column(@center);

		background: transparent;
		border: none;
		margin: 20px 0 0 0;
		position: static;

		h1 {
			.font(@w: 700; @s: 30px;);
			
			color: white;
		}
	}
}


/* view's headings */
h2 {
	.font(normal; 16px);

	color: @purple;
	margin: 10px 0 20px 0;
	text-transform: uppercase;
}

#view {
	.box(0 0 44px 0);

	min-height: ~"calc(100vh - 50px)";
}

/* reg and login header */
#outer {
	.column(@center);
	min-height: 100vh;

	background: linear-gradient(@lightpurple, @purple);
}

#view.login {
	background: transparent;
	min-height: auto;
	padding: 10px 0 40px 0;
}

/* form (login and register) */
#form {
	.column(@center);

	h2 {
		.font(@s: 14px);

		color: white;
		margin: 10px 0;
	}

	.error {
		.font(700;);

		color: darken(@purple, 15%);

		/* field error */

		&.field {
			padding: 3px 0 0 0;
		}

		/* form error */

		&.form {
			.font(700; 18px);
			.naughty(column; @left);

			margin: 10px 0;
		}
	}

	p {
		.column;

		label {
			.font-upper;
		}

		input {
			.box(8px 12px 8px 0);

			background: transparent;
			border: none;
			border-bottom: 2px solid white;
			color: white;
			margin: 0;
			outline: none;
			width: 270px;
		}
	}

	button {
		.naughty(column; @right);
	}
}


/* search */

#search-form {
	.size(44px; 100%);
	.box;

	position: fixed;
	bottom: 0;
	right: 0;

	input[type="search"] {
		.size(44px; 100%);
		.box(9px 15px);
		.font(700);
		.transition;

		border: none;
		border-top: 2px solid @lightpurple;
		color: @grey;
		outline: none;

		position: fixed;
		bottom: 0;

		&::-moz-placeholder {
			.font;
		}

		&::-webkit-input-placeholder {
			.font;
		}

		&:hover,
		&:focus {
			.font(700; 24px);

			background: white;
/*			margin-top: 0;
*/			height: 100px;

			&::-moz-placeholder {
				.font(@s: 24px);
			}

			&::-webkit-input-placeholder {
				.font(@s: 24px);
			}
		}
	}

	&:hover {
		height: 100px;
	}
}


/* images */

.image {
	background-repeat: no-repeat;
	background-size: contain;
}

.logo {
	.size(100px; 100px);

	background-image: url(../images/logo4.svg);
}

/* icons */

.icon {
	.size(34px; 34px);

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 32px;
	min-width: 32px;
}


.add-icon {
	background-image: url(../images/add-thinner.svg);	
}

.watchlisted-icon {
	background-image: url(../images/egg.svg);
}

.watched-icon {
	background-image: url(../images/fried-egg.svg);
	width: 42px;
}

.remove-icon {
	.size(32px; 32px;);
	background-image: url(../images/bin.svg);
	background-color: transparent;
}

.settings-icon {
	background-image: url(../images/settings2.svg);
}

.comment-icon {
	background-image: url(../images/comment.svg);
}

.friendship-icon {
	background-image: url(../images/friendship.svg);
}

.loading-icon {
	.size(60px; 60px);

	background-image: url(../images/loader2.svg);
	animation: spin 1.2s ease-out infinite;
}

/* change status animation */

.status-cont {
	position: relative;
	z-index: 2;

	.options {
		.column(@center; @spread);
		.size(160px; 46px);
		.transition(@dur: 0.1s; @del: 0);

		background: white;
		border-radius: 10px;
		margin: 0;
		opacity: 1;
		overflow: hidden;
		padding: 10px;
		z-index: 3;

		position: absolute;
		top: -70px;
		right:  -10px;
		
		.option {
			.transition(@dur: 0.075s; @del: 0.075s;);

			opacity: 1;
		}
	}

	.current {
	} 

	.hidden-options {
		.size(0; 46px);
		.transition(@dur: 0.075s; @del: 0.05s);

		margin: 80px 0;
		opacity: 0;
		z-index: -1;

		.option {
			.transition(@dur: 0.075s; @del: 0s;);

			opacity: 0;
		}
	}
}

/* film view's status btn looks */

.status-btn {
	.size(46px; 46px;);
	.box;
	.column(@center; @center);

	background: @lightblue;
	background: white;
	border-radius: 10px;
	min-height: 46px;
	min-width: 46px;

	.status-icon {
		.trim;

		border: none;
		outline: none;
		background-color: transparent;
	}

	&.current {
		border: 2px solid white;
	}

	&:hover {
		background: @lightblue;
	}
}

/* film titles in lists */

.f-title {
	.font(700; 22px);
	color: @grey;

	&:hover,
	&:focus {
		color: @lightpurple;
	}
}

/* arrow that rotates when clicked */

.arrow {
	.transition(all; .15s; @func: ease;);

	display: inline-block;

	.stroke {
		.size(12px; 2px);

		background: @purple;

		&:first-child {
			transform: rotate(-45deg) translateY(3px);
		}
		&:nth-child(2) {
			transform: rotate(45deg) translateY(-3px);
		}
	}

	&.white-arrow {

		.stroke {
			background: white;
		} 
	}
}

/* arrow opener (opens hidden sections) */

.peek {
	.box(30px);

	section {
		padding: 20px 0;

		ul {
			.box(0 15px;);

			li {
				.row;
				.wrap;
				.font(700);

				color: @lightpurple;
				margin: 5px 0;
			}

			&.watchers-list {
				.row;
				.wrap;

				li {
					margin: 3px 10px 3px 0;

					
					&.nobody {
						color: @purple;
					}
				}

				a {
					color: @lightpurple;

					&:hover,
					&:focus {
						color: @purple;
					}
				}
			}

			&.friends-list {
				.row;
				.wrap;
				padding: 10px 15px 0 17px;

				li {
					display: none;
					margin: 3px 10px 3px 0;
				}

				a {
					color: @lightpurple;

					&:hover,
					&:focus {
						color: @purple;
					}
				}
			}

			&.film-list {
				.column;

				li {
					margin: 20px 0;
					width: 100%;

					.f-title {
						text-transform: none;
					}

					h4 {
						color: @lightgrey;
						font-weight: 400;
					}
				}
			}

			&.comments-list,
			&.film-list {
				padding: 10px 15px 0 15px;

				li {
					display: none;
				}
			}
		}

		input[type="checkbox"] {

			&:checked ~ .comments-list li {
				display: block;
			}

			&:checked ~ .film-list li {
				.row(@spread; @center);

				&.nothing-to-display {
					.column;
				}
			}

			&:checked ~ .friends-list {

				li {
					display: inline;
				}
			}

			&:checked ~ ul {
			}
		}
	}
}

/* arrow that rotates together with the title it accompanies */
.arrow-cont {

	h3 {
		.font(700; 16px);
		.row(@y: @center);

		color: @purple;
		margin: 0 0 0 15px;
		text-transform: uppercase;

		.number {
			.font(700; 14px);

			color: white;
			border-radius: 3px;
			display: inline-block;
			background: @lightpurple;
			padding: 0 6px;
			margin: 0 0 0 10px;
		}
	}

	label {
		.row(@y: @center);

		cursor: pointer;
		margin: 0;
	}

	input[type="checkbox"] {

		&:checked ~ label .arrow {
			transform: rotate(90deg);
		}
	}

	.arrow {
		margin: 0;
	}
}

/* datetimes */
.timestamp {
	.font(400; 12px);

	border-bottom: none;
	color: @lightgrey;
	cursor: default;
	text-transform: uppercase;

	&[title] {
		border: none;
	}

}

/* login and reg section leading to the other */
.wrong-form {
	.column(@right);

	margin: 40px 0 0 0;

	p {
		.trim;

		color: white;

		a {
			font-weight: 600;
		}
	}
}

/* feed and (updates) tab-like internal links */
.internal-feed-links {
	.row(@center);

	background: @purple;
	margin: 0 0 50px 0;
	width: 100%;

	position: relative;

	&:before {
		.size(0; 0);

		display: block;
		content: "";
		border-top: 15px solid @purple;
		border-right: 100vw solid transparent;

		position: absolute;
		bottom: -15px;
		left: 0;
	}

	a {
		.font(700; 14px);
		.box;
		.transition;

		color: white;
		border: 2px solid white;
		margin: 25px 0;
		text-align: center;
		text-transform: uppercase;

		&:first-child {
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			padding: 5px 12px 5px 20px;
		}

		&:nth-child(2) {
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			padding: 5px 20px 5px 12px;
		}

		&:hover,
		&:focus {
			background: white;
			color: @lightpurple;
		}
	}

	.selected {
		color: @lightpurple;
		background: white;
	}	
}

/* this is what appears if there is no content to be displayed */
.nothing-to-display {
	margin: 10px 0 0 0;

	h3 {
		.font(700; 20px);

		color: @purple;
		margin: 0 0 20px 0;
		text-transform: none;
	}

	p {
		color: @lightgrey;
		margin: 0;

		strong {
			color: @grey;
		}
	}
}

@import "home";
@import "film";
@import "profile";
@import "feed";
@import "updates";
@import "results";
@import "comments";
@import "settings";
@import "messages";
@import "keyframes";

@import "media";
