.tag-view {
	max-width: 550px;
	margin: 0 auto;

	.tag {
		.font(700; 24px);

		border: 2px solid @lightpurple;
		display: inline-block;
		margin: 30px 0 30px 30px;
		text-transform: none;
		text-align: center;
		width: auto;

		&:hover,
		&:focus {
			color: @lightpurple;
			border: 2px solid @lightpurple;
		}
	}

	h4 {
		.font;

		color: @lightgrey;
	}

	.users-film-list {

		/* username as arrow cont heading */
		h3 {
			.font(bold; 20px);

			margin: 0 0 5px 15px;
			text-transform: none;

			.number {
				margin: 3px 0 0 10px;
			}
		}
	}

	.peek {
		.box(0 30px);

		.f-title {
			margin: 0;
		}

		input[type="checkbox"] {

			display: none;

			&:checked ~ .films-list {
				.column;
			}
		}
	}
}
