.tagging-cont {
	.column(@right);

	margin: 0 0 30px 0;
	width: 100%;

	/* enter edit mode */
	#open-form {

		display: none;

		&:checked ~ .tags-form {
			.column(@right);
		}

		&:checked ~ .film-tags {
			display: none;
		}

		&:not(:checked) ~ .film-tags {
			.column(@right);
		}

		&:checked ~ label[for="open-form"] {
			display: none;
		}
	}

	/* edit mode */
	.tags-form {
		display: none;

		max-width: 450px;
		width: 100%;

		fieldset {
			.trim;

			border: none;
			border-radius: 10px;
			outline: none;
			width: 100%;

			ul {
				.row;
				.wrap;
				.box(7px);

				background: white;
				border-radius: 5px 5px 0 0;
				width: 100%;
			}

			/* tag style */
			li {
				.font(bold);
				.box(0 4px);
				.row(@y: @center);

				background: transparent;
				border: 2px solid @lightpurple;
				border-radius: 3px;
				color: @lightpurple;
				float: right;
				overflow: hidden;
				margin: 0 3px 6px 3px;
				vertical-align: middle;

				span {
					.transition(0);
					.size(20px; 20px);
					.trim;

					display: inline-block;
					margin: 0 0 0 10px;
					position: relative;

					&:before {
						content: '';
						width: 12px;
						height: 3px;
						background-color: @lightpurple;
						-webkit-transform: rotate(-45deg);
						transform: rotate(-45deg);

						position: absolute;
						top: 9px;
						left: 4px;
					}

					&:after {
						content: '';
						width: 12px;
						height: 3px;
						background-color: @lightpurple;
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);

						position: absolute;
						top: 9px;
						left: 4px;
					}
				}
			}

			.input {
				.box(10px);

				background: white;
				border: none;
				border-radius: 0 0 5px 5px;
				display: inline-block;
				outline: none;
				resize: none;
				max-width: 450px;
				width: 100%;
			}
		}

		.error {
			.trim;
			.font(bold);

			background: white;
			padding: 3px 0;
			text-align: center;
			width: 100%;
		}

		.controls {
			.row(@y: @center);

			button {

				margin: 0 0 0 10px;
			}
		}

	}

	.tag-icon {
		.size(30px; 30px);

		max-height: 30px;
		max-width: 30px;
	}

	/* close form icon*/
	.reset {
		.transition(0);
		.size(30px; 30px);
		.trim;

		background: transparent;
		border: 2px solid white;
		border-radius: 50%;
		cursor: pointer;
		min-height: 30px;
		min-width: 30px;

		position: relative;

		&:before {
			content: '';
			width: 12px;
			height: 3px;
			background-color: white;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);

			position: absolute;
			top: 12px;
			left: 7px;
		}

		&:after {
			content: '';
			width: 12px;
			height: 3px;
			background-color: white;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);

			position: absolute;
			top: 12px;
			left: 7px;
		}

		&:hover {
			background: white;

			&:before,
			&:after {
				background-color: @lightpurple;
			}
		}
	}

	/* normal mode */
	.film-tags {

		margin: 6px 0 0 0;

		li {
			.row;

			margin: 3px 0;
		}
	}
}