.updates-cont {
	.box(30px);

	.update-item {
		padding: 20px 0;
		.column;

		&.recommendation {
			.row(@spread; @top);

			.recommended-film {
				margin: 0 30px 0 0;
			}
		}

		p {
			color: @lightgrey;
			margin: 0;
		}

		a {
			color: @lightpurple;
		}
		
	}
	
}
