<form novalidate autocomplete="off" id="form">
	<h2>Login</h2>
	
	<p data-fn="error" class="form error"></p>
	<p>
		<label for="login-email">email</label>
		<span data-fn="error" class="field error"></span>
		<input novalidate autocomplete="off" type="email" name="email" id="login-email" />
	</p>
	<p>
		<label for="login-pass">password</label>
		<span data-fn="error" class="field error"></span>
		<input novalidate type="password" name="pass" id="login-pass" />
	</p>
	<button type="submit" class="dark">login</button>
</form>
<section class="wrong-form">
	<p>Don't have an account?</p>
	<a href="/#/reg">go to register</a>
</section>
