{{# items }}
<div class="feed-item">

	<!-- WATCHED -->
	{{# type.addedToWatched }}
	<a href="#/film/{{ film.pk }}" class="film">
		<div class="icon-cont">
			<span class="icon watched-icon-white"></span>
		</div>
		{{# film.posterUrl }}
		<div class="image poster-medium" style="background-image: url({{ film.posterUrl }});"></div>
		{{/ film.posterUrl }}
		{{^ film.posterUrl }}
		<div class="no-poster poster-medium">
			<p>No poster</p>
			<div class="image logo"></div>
		</div>
		{{/ film.posterUrl }}

		<h2 class="title">{{ film.title }}</h2>
	</a>
	<div class="who-did-what">
		<a href="#/user/{{ user.pk }}" class="user-link">
			<div class="avatar-small image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<h3 class="user">{{ user.name }}</h3>
		</a>
		<p>added to seen</p>
	</div>
	<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	{{/ type.addedToWatched }}

	<!-- WATCHLIST -->
	{{# type.addedToWatchlist }}
	<a href="#/film/{{ film.pk }}" class="film">
		<div class="icon-cont">
			<span class="icon watchlisted-icon-white"></span>
		</div>

		{{# film.posterUrl }}
		<div class="image poster-medium" style="background-image: url({{ film.posterUrl }});"></div>
		{{/ film.posterUrl }}
		{{^ film.posterUrl }}
		<div class="no-poster poster-medium">
			<p>No poster</p>
			<div class="image logo"></div>
		</div>
		{{/ film.posterUrl }}
		<h2 class="title">{{ film.title }}</h2>
	</a>
	<div class="who-did-what">
		<a href="#/user/{{ user.pk }}" class="user-link">
			<div class="avatar-small image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<h3 class="user">{{ user.name }}</h3>
		</a>
		<p>added to watchlist</p>
	</div>
	<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	{{/ type.addedToWatchlist }}

	<!-- WATCHED 2 -->
	{{# type.movedToWatchlist }}
	<a href="#/film/{{ film.pk }}" class="film">
		<div class="icon-cont moved">
			<span class="icon watchlisted-icon-white"></span>
		</div>
		<div class="icon-cont">
			<span class="icon watched-icon-white"></span>
		</div>

		{{# film.posterUrl }}
		<div class="image poster-medium" style="background-image: url({{ film.posterUrl }});"></div>
		{{/ film.posterUrl }}
		{{^ film.posterUrl }}
		<div class="no-poster poster-medium">
			<p>No poster</p>
			<div class="image logo"></div>
		</div>
		{{/ film.posterUrl }}
		<h2 class="title">{{ film.title }}</h2>
	</a>
	<div class="who-did-what">
		<a href="#/user/{{ user.pk }}" class="user-link">
			<div class="avatar-small image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<h3 class="user">{{ user.name }}</h3>
		</a>
		<p>moved to seen</p>
	</div>
	<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	{{/ type.movedToWatchlist }}

	<!-- WATCHING -->
	{{# type.addedToWatching }}
	<a href="#/film/{{ film.pk }}" class="film">
		<div class="icon-cont">
			<span class="icon watchlisted-icon-white"></span>
		</div>

		{{# film.posterUrl }}
		<div class="image poster-medium" style="background-image: url({{ film.posterUrl }});"></div>
		{{/ film.posterUrl }}
		{{^ film.posterUrl }}
		<div class="no-poster poster-medium">
			<p>No poster</p>
			<div class="image logo"></div>
		</div>
		{{/ film.posterUrl }}
		<h2 class="title">{{ film.title }}</h2>
	</a>
	<div class="who-did-what">
		<a href="#/user/{{ user.pk }}" class="user-link">
			<div class="avatar-small image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<h3 class="user">{{ user.name }}</h3>
		</a>
		<p>added as watching</p>
	</div>
	<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	{{/ type.addedToWatching }}

	<!-- FRIENDS -->
	{{# type.becameFriends }}
	<h3>
		<div class="icon friendship-icon"></div>
	</h3>
	<p class="action friendship">
		<a href="#/user/{{ userA.pk }}" class="user">{{ userA.name }}</a>
		became friends with
		<a href="#/user/{{ userB.pk }}" class="user">{{ userB.name }}</a>
	</p>
	<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	{{/ type.becameFriends }}

	<!-- COMMENT -->
	{{# type.wroteComment }}
	<a href="#/film/{{ film.pk }}" class="film">
		<div class="icon-cont">
			<span class="icon comment-icon"></span>
		</div>

		{{# film.posterUrl }}
		<div class="image poster-medium" style="background-image: url({{ film.posterUrl }});"></div>
		{{/ film.posterUrl }}
		{{^ film.posterUrl }}
		<div class="no-poster poster-medium">
			<p>No poster</p>
			<div class="image logo"></div>
		</div>
		{{/ film.posterUrl }}

		<h2 class="title">{{ film.title }}</h2>
	</a>
	<div class="who-did-what">
		<a href="#/user/{{ user.pk }}" class="user-link">
			<div class="avatar-small image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<h3 class="user">{{ user.name }}</h3>
		</a>
		<p>left a comment</p>
	</div>
	<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	{{/ type.wroteComment }}

	<!-- TAGGING -->
	{{# type.addedTags }}
	<a href="#/film/{{ film.pk }}" class="film">
		<div class="icon-cont">
			<span class="icon tag-icon-white"></span>
		</div>

		{{# film.posterUrl }}
		<div class="image poster-medium" style="background-image: url({{ film.posterUrl }});"></div>
		{{/ film.posterUrl }}
		{{^ film.posterUrl }}
		<div class="no-poster poster-medium">
			<p>No poster</p>
			<div class="image logo"></div>
		</div>
		{{/ film.posterUrl }}

		<h2 class="title">{{ film.title }}</h2>
	</a>
	<div class="who-did-what">
		<a href="#/user/{{ user.pk }}" class="user-link">
			<div class="avatar-small image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<h3 class="user">{{ user.name }}</h3>
		</a>
		<p>labelled as</p>
	</div>
	<p class="tags">
		{{# tags }}
		<a href="#/label/{{ . }}" class="tag">{{ . }}</a>
		{{/ tags }}
	</p>
	<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	{{/ type.addedTags }}
</div>
{{/ items }}
<!-- <button type="submit" class="to-top">
	<div class="arrow">
		<div class="stroke"></div>
		<div class="stroke"></div>
	</div>
</button> -->
