{{# films }}
<li class="film-in-list">
	{{# poster_url }}
	<div class="image poster-small" style="background-image: url({{ poster_url }});"></div>
	{{/ poster_url }}
	{{^ poster_url }}
	<div class="no-poster poster-small">
		<p>No poster</p>
		<div class="image logo"></div>
	</div>
	{{/ poster_url }}
	<div>
		<a href="#/film/{{ pk }}" class="listed-films">
			<h3 class="title">{{ title }}</h3>
			<h4 class="year-directors">{{ year }} {{# directors }} | {{ directors }} {{/ directors }}</h4>
		</a>
		<ul class="tags tags-list">
			{{# tags }}
			<li><a href="#/label/{{ . }}" class="tag">{{ . }}</a></li>
			{{/ tags }}
		</ul>
	</div>
</li>
{{/ films }}
{{^ films }}
<div class="nothing-to-display">
	{{# user.self }}
	<h3>Nothing in your seen yet</h3>
	<p>Search for a film you have watched and add it to your seen.</p>
	{{/ user.self }}
	{{^ user.self }}
	<h3>Nothing in watchlist</h3>
	{{/ user.self }}
</div>
{{/ films }}
