{{# films }}
<li class="film-in-list">
	<div class="poster-container">
		{{# poster_url }}
		<a href="#/film/{{ pk }}" class="listed-films">
			<div class="image poster-small" style="background-image: url({{ poster_url }});"></div>
		</a>
		{{/ poster_url }}
		{{^ poster_url }}
		<a href="#/film/{{ pk }}" class="listed-films">
			<div class="no-poster poster-small">
				<p>No poster</p>
				<div class="image logo"></div>
			</div>
		</a>
		{{/ poster_url }}
	</div>
	<div>
		<a href="#/film/{{ pk }}" class="listed-films">
			<h3 class="title">{{ title }}</h3>
			<h4 class="year-directors">{{ year }} {{# directors }} | {{ directors }} {{/ directors }}</h4>
		</a>
		<!--<ul class="other-watchlisters">
			<li>
				<span class="small-text">in watching list of</span>
				<br />
				<a class="user"></a>
			</li>
		</ul> -->
	</div>
</li>
{{/ films }}
{{^ films }}
<div class="nothing-to-display">
	{{# user.status.self }}
	<h3>Nothing in your watching list yet</h3>
	<p>Search for a series you are currently watching and add them to your watching list.</p>
	{{/ user.status.self }}
	{{^ user.status.self }}
	<h3>Nothing in {{ user.name }}'s watching list yet</h3>
	{{/ user.status.self }}
</div>
{{/ films }}
