{{# films }}
<li class="film-in-list">
	{{# poster_url }}
	<div class="image poster-small" style="background-image: url({{ poster_url }});"></div>
	{{/ poster_url }}
	{{^ poster_url }}
	<div class="no-poster poster-small">
		<p>No poster</p>
		<div class="image logo"></div>
	</div>
	{{/ poster_url }}
	<div>
		<a href="#/film/{{ pk }}" class="listed-films">
			<h3 class="title">{{ title }}</h3>
			<h4 class="year-directors">{{ year }} {{# directors }} | {{ directors }} {{/ directors }}</h4>
		</a>
		<ul class="other-watchlisters">
			<li>
				<span>also watchlisted by</span>
				<br />
				<a class="user">stelaseldano</a>
				<a class="user">stelaseldano</a>
			</li>
		</ul>
	</div>
</li>
{{/ films }}
{{^ films }}
<div class="nothing-to-display">
	<h3>Nothing in your watchlist yet</h3>
	<p>Search for a film you wish to watch and add it to your watchlist.</p>
</div>							
{{/ films }}
