<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Film adder" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>film adder</title>
	
	<link rel="stylesheet" tyle="text/css" media="screen" href="styles/vendor.css" />
	<link rel="stylesheet" tyle="text/css" media="screen" href="styles/from-less/style.css" />
	
	<link href="https://fonts.googleapis.com/css?family=Hind:400,600,700|PT+Mono|Source+Sans+Pro:400,600,700" rel="stylesheet"> 
</head>

<body>
	<header>
		<h1>f</h1>
		<nav>
			<ul>
				<li>
					<a href="#"
					title="take me home">home</a>
				</li>
				<li>
					<a href="#"
					title="my profile">me</a>
				</li>
				<li>
					<a href="#"
					title="search">search</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="film">
		<article class="name-and-status">
			<h2>The Big Bang Theory</h2>
			<section class="f-status">
				<div class="image"></div>
				<p>watched</p>
			</section>
		</article>
		<article class="f-details">
			<section class="f-poster">
				<div class="image poster"></div>
			</section>
			<section class="f-info">
				<h3><span>Director:</span> Chuck Lorrie, Bill Prady</h3>
				<h4><span>Year:</span> 2007 - present</h4>
				<h5><span>Actors:</span> Johnny Galecki, Jim Parsons, Kaley Cuoco, Simon..</h5>
			</section>
		</article>
		<article class="recommend">
			<button>recommend</button>
		</article>
		<article class="peek">
			<section class="watched-by">
				<input type="checkbox" id="watched-by" />
				<label for="watched-by">
					<div class="arrow">
						<div class="stroke"></div>
						<div class="stroke"></div>
					</div>
					<h3>Watched by</h3>
				</label>
				<ul>
					<!-- {% for user in watched_by %} -->
					<li>
						<a href="#">@pavelsof</a>
					</li>
					<li>
						<a href="#">@adderthebot</a>
					</li>
					<li>
						<a href="#">@stela</a>
					</li>
					<li>
						<a href="#">@pavelsofroniev</a>
					</li>
					<li>
						<a href="#">@adderthebot</a>
					</li>
					<!-- {% endfor %} -->
				</ul>
			</section>
			<section class="watchlisted-by">
				<input type="checkbox" id="watchlisted-by" />
				<label for="watchlisted-by">
					<div class="arrow">
						<div class="stroke"></div>
						<div class="stroke"></div>
					</div>
					<h3>Watchlisted by</h3>
				</label>
				<ul>
					<!-- {% for user in watchlisted_by %} -->
					<li>
						<a href="#">@pavelsof</a>
					</li>
					<li>
						<a href="#">@adderthebot</a>
					</li>
					<li>
						<a href="#">@stela</a>
					</li>
					<!-- {% endfor %} -->
				</ul>
			</section>
			<section class="comments">
				<input type="checkbox" id="comments" />
				<label for="comments">
					<div class="arrow">
						<div class="stroke"></div>
						<div class="stroke"></div>
					</div>
					<h3>Comments</h3>
				</label>
				<ul>
					<li>
						<a href="#">@pavelsof</a>
						<p>Sheldon's trademark knock (3 knocks + name, 3 knocks + name, 3 knocks + name) was not established until later in the first season, however, in a scene that pre-dates the start of the show, he is shown doing that knock sequence. </p>
						<ul>
							<li>
								<a href="#">@adderthebot</a>
								<p>Internet fight!!!</p>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">@stelaseldano</a>
						<p>In Season 7, (708) everyone has Thanksgiving at the Wollowitz home (Penny learns she's married to Zach.) Raj is in the kitchen cooking as Mrs. Wollowitz is bedridden from Gout. ("Did someone say pie?") and the refrigerator doors open with hinges on the RIGHT so the camera can't film it's contents. In Season 8, (818) a power failure causes all of Howard's late mother's cooking to thaw, creating a strong emotional reaction from Howard.<br/><br />They decide to have everyone over for one last Mrs. Wollowitz meal. The same pale yellow refrigerator now is hinged on the left side so that the camera can film the inside of the freezer, filled with Brisket, Kugal, Meatloaf, and Chicken soup. Late that same season, (823) Howard, Raj, and Stewart are cleaning the kitchen ("It's A Hard Knock Life" Charnin/ Strouse) and the hinges are back on the right. This is an intentional goof as it's easier and cheaper to not have to expose the interior of the refrigerator; but still, we notice. </p>
					</li>
				</ul>
			</section>
		</article>
	</main>
</body>
</html>