<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Film adder" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>Film adder</title>
	
	<link rel="stylesheet" tyle="text/css" media="screen" href="styles/vendor.css" />
	<link rel="stylesheet" tyle="text/css" media="screen" href="styles/style.css" />
	
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800|Lobster|Lobster+Two:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster|Lobster+Two:400,700,700italic,400italic|Bangers' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Droid+Sans|Fira+Sans:300,400,700|Quicksand' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="fa">
		<header>
			<nav>
				<a href="#/" title="home">home</a>
				<a href="#/search" title="search">search</a>
			</nav>
			<form v-on:submit.prevent="search">
				<input type="search" v-model="searchQuery" />
				<button type="submit">ssss</button>
			</form>
		</header>
		<main>
			<component v-bind:is="currentView" keep-alive></component>
		</main>
	</div>
	
	<template id="home-view">
		<h1>{{ greeting }}</h1>
	</template>
	
	<template id="search-view">
		<h2>films</h2>
		<div v-for="film in $parent.searchResults">
			<a href="#/film/{{ film.id }}" title="{{ film.title }}">
				<h1>{{ film.title }}</h1>
			</a>
		</div>
		<h2>friends</h2>
		<p>no friends yet :(</p>
	</template>
	
	<template id="film-view">
		<article class="film">
			<h1>{{ title }}</h1>
			<span>{{ year }}</span>
		</article>
	</template>
	
	<template id="error-view">
		<h1>Error!</h1>
	</template>
	
	<script src="scripts/vendor.js"></script>
	<script src="scripts/fa.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			fa.init({});
		});
	</script>
</body>
</html>
