<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Film adder" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title>Film adder</title>
	
	<link rel="stylesheet" tyle="text/css" media="screen" href="styles/vendor.css" />
	<link rel="stylesheet" tyle="text/css" media="screen" href="styles/style.css" />
	
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800|Lobster|Lobster+Two:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster|Lobster+Two:400,700,700italic,400italic|Bangers' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Droid+Sans|Fira+Sans:300,400,700|Quicksand' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="fa">
		<header>
			<nav>
				<a href="#/" title="home">home</a>
			</nav>
			<search-form></search-form>
		</header>
		<main>
			<component v-bind:is="currentView" keep-alive></component>
		</main>
		<message-bar></message-bar>
	</div>
	
	<!-- search components -->
	<template id="search-form">
		<form v-on:submit.prevent="search">
			<input type="search" v-model="query" />
			<button type="submit">ssss</button>
		</form>
	</template>
	
	<template id="search-view">
		<div class="search-view">
			<h2>films</h2>
			<div v-for="film in results.films">
				<a href="#/film/{{ film.id }}" title="{{ film.title }}">
					<h1>{{ film.title }}</h1>
				</a>
			</div>
			<h2>friends</h2>
			<p>no friends yet :(</p>
		</div>
	</template>
	<!-- / search components -->
	
	<!-- film components -->
	<template id="film-view">
		<div class="film-view">
			<article class="film">
				<h1>{{ title }}</h1>
				<span>{{ year }}</span>
			</article>
		</div>
	</template>
	<!-- / film components -->
	
	<!-- auth components -->
	<template id="login-view">
		<div class="login-view">
			<form v-on:submit.prevent="login">
				<input type="email" v-model="email" lazy required />
				<input type="password" v-model="password" lazy required />
				<button type="submit">login</button>
			</form>
		</div>
	</template>
	
	<template id="create-account-view">
		<div class="create-account-view">
			<form v-on:submit.prevent="create">
				<input type="email" v-model="email" lazy required />
				<input type="text" v-model="name" lazy required />
				<input type="password" v-model="password1" lazy required />
				<input type="password" v-model="password2" lazy required />
				<button type="submit">create account</button>
			</form>
		</div>
	</template>
	<!-- / auth components -->
	
	<!-- general components -->
	<template id="home-view">
		<div class="home-view">
			<h1>{{ greeting }}</h1>
		</div>
	</template>
	
	<template id="message-bar">
		<div class="message-bar" v-show="text.length">
			<div v-bind:class="type">{{ text }}</div>
		</div>
	</template>
	
	<template id="error-view">
		<div class="error-view">
			<h1>You should not be here!</h1>
		</div>
	</template>
	<!-- / general components -->
	
	<script src="scripts/vendor.js"></script>
	<script src="scripts/fa.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function() {
			fa.init({
				DEBUG: true,
				API_URL: 'http://localhost:8000'
			});
		});
	</script>
</body>
</html>
