<div class="user">
	<div class="container">
		<section class="user-personal">
			<div class="avatar-medium image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<!-- <div class="avatar-message">This avatar has been randomly assinged to you. Change it from settings.</div> -->
			<article>
				<h2 class="username">{{ user.name }}</h2>
				<div class="p-buttons p-relationship">
					{{# user.status.friend }}
					<p>friends</p>
					</button>
					{{/ user.status.friend }}
				</div>
			</article>
			
		</section>
	</div>

	{{# user.showData }}
	<div class="list-nav">
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}watchlist" data-nav="watchlist">
			<span class="icon watchlisted-icon-white"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}seen" data-nav="watched">
			<span class="icon watched-icon-white"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}watching">
			<span class="icon updates-icon-white"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}friends">
			<span class="icon friendship-icon"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}tags">
			<span class="icon tag-icon-white"></span>
		</a>
	</div>
	{{/ user.showData }}

	<section id="subview" class="subview"></section>
</div>
