<div class="user-view">
	<div class="container">
		<section class="user-personal">
			<div class="avatar-medium image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<!-- bio -->
			<!-- <article>
				<h2 class="username">{{ user.name }}</h2>
				<p class="small-text">Tempore sit dolor saepe explicabo ut temporibus.</p>
			</article> -->
			<article>
				<h2 class="username new-title">{{ user.name }}</h2>
				<div>
					{{# user.status.self }}
					<p class="small-text">me</p>
					{{/ user.status.self }}
					{{# user.status.friend }}
					<p class="small-text">friend</p>
					{{/ user.status.friend }}
					{{# user.status.unknown }}
					<p class="small-text">stranger</p>
					{{/ user.status.unknown }}
					{{# user.status.asked }}
					<p class="small-text">pending</p>
					{{/ user.status.asked }}
					{{# user.status.waiting }}
					<p class="small-text">pending</p>
					{{/ user.status.waiting }}
				</div>
			</article>
			
		</section>
	</div>

	{{# user.showData }}
	<div class="list-nav">
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}watchlist"
				title="watchlist" data-nav="user-watchlist">
			<span class="icon watchlist-icon"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}seen"
				title="seen" data-nav="user-seen">
			<span class="icon seen-icon"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}watching"
				title="watching" data-nav="user-watching">
			<span class="icon watching-icon"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}friends"
				title="friends" data-nav="user-friends">
			<span class="icon friends-icon"></span>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}tags"
				title="tags" data-nav="user-tags">
			<span class="icon tag-icon"></span>
		</a>
	</div>

	<section class="subview" data-fn="subview"></section>
	{{/ user.showData }}

	{{^ user.showData }}
	<section class="hidden-data">
		<h2>All accounts are private</h2>
		<p class="small-text">you can see each other's lists once you become friends</p>
		{{# user.status.unknown }}
		<article>
			<button type="submit" data-fn="request-friend" class="light">befriend</button>
		</article>
		{{/ user.status.unknown }}
		{{# user.status.waiting }}
		<article>
			<p><strong>{{ user.name }}</strong> wants to be friends with you</p>
			<div class="buttons">
				<button type="submit" data-fn="accept-friend" class="light">accept</button>
				<button type="submit" data-fn="reject-friend" class="light">reject</button>
			</div>
		</article>
		{{/ user.status.waiting }}
		{{# user.status.asked }}
		<article>
			<p>You have asked <strong>{{ user.name }}</strong> to be friends with you</p>
			<button type="submit" class="light">withdraw</button>
		</article>
		{{/ user.status.asked }}
	</section>
	{{/ user.showData }}
	
	
</div>
