<div class="user">
	<div class="container">
		<section class="user-personal">
			<div class="avatar-medium image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			<article>
				<h2 class="username">{{ user.name }}</h2>
				<div class="p-buttons p-relationship">
					{{# user.status.self }}
					<p class="small-text">me</p>
					{{/ user.status.self }}
					{{# user.status.friend }}
					<p class="small-text">friend</p>
					{{/ user.status.friend }}
					{{# user.status.unknown }}
					<p class="small-text">stranger</p>
					{{/ user.status.unknown }}
					{{# user.status.asked }}
					<p class="small-text">pending</p>
					{{/ user.status.asked }}
					{{# user.status.waiting }}
					<p class="small-text">pending</p>
					{{/ user.status.waiting }}
				</div>
			</article>
			
		</section>
	</div>

	{{# user.showData }}
	<div class="list-nav">
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}watchlist" data-nav="watchlist">
			<span class="icon watchlisted-icon-white"></span>
			<h3 class="list-title">watchlist</h3>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}seen" data-nav="watched">
			<span class="icon watched-icon-white"></span>
			<h3 class="list-title">seen</h3>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}watching">
			<span class="icon updates-icon-white"></span>
			<h3 class="list-title">watching</h3>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}friends">
			<span class="icon friendship-icon"></span>
			<h3 class="list-title">friends</h3>
		</a>
		<a href="#/{{^ user.status.self }}user/{{ user.pk }}/{{/ user.status.self }}tags">
			<span class="icon tag-icon-white"></span>
			<h3 class="list-title">labels</h3>
		</a>
	</div>

	<section id="subview" class="subview"></section>
	{{/ user.showData }}

	{{^ user.showData }}
	<section class="hidden-data">
		<h2>All accounts are private</h2>
		<p class="small-text">you can see each other's lists once you become friends</p>
		{{# user.status.unknown }}
		<article>
			<button type="submit" data-fn="request-friend" class="light">befriend</button>
		</article>
		{{/ user.status.unknown }}
		{{# user.status.waiting }}
		<article>
			<p><strong>{{ user.name }}</strong> wants to be friends with you</p>
			<div class="buttons">
				<button type="submit" data-fn="accept-friend" class="light">accept</button>
				<button type="submit" data-fn="reject-friend" class="light">reject</button>
			</div>
		</article>
		{{/ user.status.waiting }}
		{{# user.status.asked }}
		<article>
			<p>You have asked <strong>{{ user.name }}</strong> to be friends with you</p>
			<button type="submit" class="light">withdraw</button>
		</article>
		{{/ user.status.asked }}
	</section>
	{{/ user.showData }}
	
	
</div>
