<input type="checkbox" id="comments" class="no-display" {{# open }}checked{{/ open }} />
<label for="comments">
	<div class="arrow">
		<div class="stroke"></div>
		<div class="stroke"></div>
	</div>
	<h3>Thoughts<span class="number">{{ comments.length }}</span></h3>
</label>
<ul class="comments-list">
	<li class="show-spoilers-option">
		<p class="spoilers-filter">
			<input type="checkbox" id="show-spoilers" data-fn="show-spoilers" {{# spoilersOk }}checked{{/ spoilersOk }} />
			<label for="show-spoilers">
				<span>include spoilers</span>
				<span class="checkbox">
					<span class="tick"></span>
				</span>
			</label>
		</p>
	</li>
	{{# comments }}
	<li class="comment">
		<div class="meta">
			<a href="#/user/{{ author.pk }}" class="user-link">
				<div class="avatar-small image" style="background-image: url('{{ author.avatarUrl }}')"></div>
				<h3 class="user">{{ author.name }}</h3>
			</a>
			<abbr class="timestamp" title="{{ posted.iso }}">{{ posted.ago }}</abbr>
		</div>
		<p class="text self">{{ text }}</p>
		{{# author.self }}
		<button type="button" class="light tiny" data-fn="del-comment" data-comment="{{ pk }}">remove</button>
		{{/ author.self }}
		{{^ author.self }}
		<button type="button" class="light tiny" data-fn="reply">reply</button>
		{{/ author.self }}
		<!--
		<ul class="replies">
			{{# replies }}
			<li>
				<a href="#/user/{{ author.pk }}" class="author user">{{ author.name }}</a>
				<p class="text">{{ text }}</p>
			</li>
			{{/ replies }}
		</ul> -->
	</li>
	{{/ comments }}
	{{^ comments }}
	<li class="not-yet">
		Not yet
		<p class="small-text">The thoughts you shared are visible only to your friends. Likewise, you can see only you friends' thoughts.</p>
	</li>
	{{/ comments }}
</ul>
<form novalidate autocomplete="off" class="comment-form">
	<div data-fn="error" class="error"></div>
	<p>
		<textarea name="comment" rows="4" placeholder="Share your thoughts on {{ film.title }}"></textarea>
		<span data-fn="error"></span>
	</p>
	<p class="spoilers-filter">
		<input type="checkbox" id="has-spoilers" name="spoilers" />
		<label for="has-spoilers">
			<span>this has spoilers</span>
			<span class="checkbox">
				<span class="tick"></span>
			</span>
		</label>
		<span data-fn="error"></span>
	</p>
	<button type="submit" class="light">post</button>
</form>
