<input type="checkbox" id="comments" class="hidden" checked />
<label for="comments">
	<div class="arrow">
		<div class="stroke"></div>
		<div class="stroke"></div>
	</div>
	<h3>Comments<span class="number">{{ comments.length }}</span></h3>
</label>
<ul class="comments-list">
	<li class="spoilers-input-cont">
		<input type="checkbox" id="show-spoilers" data-fn="show-spoilers" {{# spoilersOk }}checked{{/ spoilersOk }} />
		<label for="show-spoilers">
			<span>show comments with spoilers</span>
			<span class="checkbox">
				<span class="tick"></span>
			</span>
		</label>
	</li>
	{{# comments }}
	<li class="comment">
		<a href="#/user/{{ author.pk }}" class="author">{{ author.name }}</a>
		<abbr class="date" title="{{ posted.iso }}">{{ posted.ago }}</abbr>
		<p class="text">{{ text }}</p>
		<!-- <button type="button" class="light" data-fn="reply">reply</button>
		<ul class="replies">
			{{# replies }}
			<li>
				<a href="#/user/{{ author.pk }}" class="author">{{ author.name }}</a>
				<p class="text">{{ text }}</p>
			</li>
			{{/ replies }}
		</ul> -->
	</li>
	{{/ comments }}
	{{^ comments }}
	<li>
		Not yet
		<p class="text">Your comments are visible only by your friends. Likewise, you can see only your friends' comments.</p>
	</li>
	{{/ comments }}
	<form novalidate autocomplete="off" class="comment-form">
		<div data-fn="error" class="error"></div>
		<p>
			<textarea name="comment" rows="4" placeholder="Share your thoughts on {{ film.title }}"></textarea>
			<span data-fn="error"></span>
		</p>
		<p class="spoilers-input-cont">
			<input type="checkbox" id="has-spoilers" name="spoilers" />
			<label for="has-spoilers">
				<span>this comment has spoilers</span>
				<span class="checkbox">
					<span class="tick"></span>
				</span>
			</label>
			<span data-fn="error"></span>
		</p>
		<button type="submit" class="light">comment</button>
	</form>
</ul>
