{{# items }}
<div class="feed-item">
	{{# type.addedToWatched }}
	<h3>
		<div class="icon watched-icon"></div>
		<a class="f-title" href="#/film/{{ film.pk }}">{{ film.title }}</a>
	</h3>
	<p><a href="#/user/{{ user.pk }}">{{ user.name }}</a> added to watched</p>
	<p><abbr class="date" title="{{ created.iso }}">{{ created.ago }}</abbr></p>
	{{/ type.addedToWatched }}
	
	{{# type.addedToWatchlist }}
	<h3>
		<div class="icon watchlisted-icon"></div>
		<a class="f-title" href="#/film/{{ film.pk }}">{{ film.title }}</a>
	</h3>
	<p><a href="#/user/{{ user.pk }}">{{ user.name }}</a> added to watchlist</p>
	<p><abbr class="date" title="{{ created.iso }}">{{ created.ago }}</abbr></p>
	{{/ type.addedToWatchlist }}
	
	{{# type.becameFriends }}
	<p class="friendship">
		<a href="#/user/{{ userA.pk }}">{{ userA.name }}</a>
		is friends with
		<a href="#/user/{{ userB.pk }}">{{ userB.name }}</a>
	</p>
	<p class="friendship"><abbr class="date" title="{{ created.iso }}">{{ created.ago }}</abbr></p>
	{{/ type.becameFriends }}
</div>
{{/ items }}
