<div class="film">
	<article class="name-and-status">
		<h2>{{ film.title }}</h2>
		<section class="f-status">
			<p>{{ status }}</p>
		</section>
	</article>
	<article class="f-details">
		<section class="f-poster">
			<div class="image poster" style="background-image: url({{ film.poster_url }});"></div>
		</section>
		<section class="f-info">
			<h3><span>Genre:</span>Anime</h3>
			<h3><span>Director:</span> {{ film.directors }}</h3>
			<h3><span>Year:</span> {{ film.year }}</h3>
			<h3><span>Actors:</span> {{ film.actors }}</h3>
		</section>
	</article>
	<article class="recommend">
		<button>recommend</button>
	</article>
	<article class="peek">
		<section class="watched-by">
			<input type="checkbox" id="watched-by" />
			<label for="watched-by">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Watched by</h3>
			</label>
			<ul>
				{{# watchers_past }}
				<li>
					<a href="#">@{{ name }}</a>
				</li>
				{{/ watchers_past}}
				{{^ watchers_past }}
				<li>nobody</li>
				{{/ watchers_past }}
			</ul>
		</section>
		<section class="watchlisted-by">
			<input type="checkbox" id="watchlisted-by" />
			<label for="watchlisted-by">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Watchlisted by</h3>
			</label>
			<ul>
				{{# watchers_future }}
				<li>
					<a href="#">@{{ name }}</a>
				</li>
				{{/ watchers_future }}
				{{^ watchers_future }}
				<li>nobody</li>
				{{/ watchers_future }}
			</ul>
		</section>
		<section class="comments">
			<input type="checkbox" id="comments" />
			<label for="comments">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Comments</h3>
			</label>
			<ul>
				{{# comments }}
				<li>
					<a href="#">@{{ author }}</a>
					<p>{{ text }}</p>
					<ul>
						{{# replies }}
						<li>
							<a href="#">@{{ author }}</a>
							<p>{{ text }}</p>
						</li>
						{{/ replies }}
					</ul>
				</li>
				{{/ comments }}
				{{^ comments }}
				<li>not yet</li>
				{{/ comments }}
			</ul>
		</section>
	</article>
</div>
