<div class="film">
	<section class="f-details">
		<div class="wrapper">
			<article class="f-poster-cont">
				{{# film.posterUrl }}
				<div class="image poster" style="background-image: url({{ film.posterUrl }});"></div>
				{{/ film.posterUrl }}
				{{^ film.posterUrl }}
				<div class="no-poster">
					<h3>No poster</h3>
					<div class="image logo"></div>
				</div>
				{{/ film.posterUrl }}
			</article>
			
			{{# film.posterUrl}}
			<article class="f-main-cont">
			{{/ film.posterUrl}}
			{{^ film.posterUrl}}
			<article class="f-main-cont no-poster-main-cont">
			{{/ film.posterUrl}}
				{{# film.status.watched }}
				<div class="tagging-cont">
					<input type="checkbox" id="open-form"/>
					<label for="open-form" class="icon tag-icon-white"></label>
					<form class="tags-form">
						<fieldset>
							<ul>
								{{# film.tags }}
								<li>{{ . }}<span></span></li>
								{{/ film.tags }}
							</ul>
							<p data-fn="error" class="form error"></p>
							<input type="text" name="tags" autocomplete="off"
						  		data-fn="tags-field" class="input" placeholder="add labels" />
						</fieldset>
						<p class="controls">
							<button type="submit" class="dark">save</button>
							<button type="button" class="reset"></button>
						</p>
					</form>
					<ul class="film-tags">
						{{# film.tags }}
						<li><a href="#/label/{{ . }}" class="tag tag-self" title="">{{ . }}</a></li>
						{{/ film.tags }}
					</ul>
				</div>
				{{/ film.status.watched }}

				<!-- in cases when there is no taggin container, we need a div so that the main info contaier is pushed to the bottom -->
				{{^ film.status.watched }}
				<div></div>
				{{/ film.status.watched }}
				
				<div class="cont">
					<div class="title-cont">
						<h2 class="title" id="film-title">{{ film.title }}</h2>
						<h4 class="year">{{ film.year }}</h4>
						<h3 class="type-duration">{{ film.omdbType }} {{# film.runtime }}| {{ film.runtime }}</h3>{{/ film.runtime}}
					</div>
					
					{{# film.status.unknown }}
					<div class="status-cont">
						<div class="status-btn current">
							<button type="submit"
									data-fn="open-status-opts"
									class="icon add-icon status-icon"></button>
						</div>
						<div data-fn="status-opts" class="options hidden-options">
							<div class="status-btn option">
								<button type="submit"
										data-fn="add-watchlist" class="icon watchlisted-icon status-icon"></button>
							</div>
							<div data-fn="close-status-opts" class="icon close dark option"></div>
							<div class="status-btn option">
								<button type="submit"
										data-fn="add-watched"
										class="icon watched-icon status-icon"></button>
							</div>
						</div>
					</div>
					{{/ film.status.unknown }}
					
					{{# film.status.watched }}
					<div class="status-cont">
						<div class="status-btn current">
							<button type="submit"
									data-fn="open-status-opts"
									class="icon watched-icon status-icon"></button>
						</div>
						<div data-fn="status-opts" class="options hidden-options">
							<div class="status-btn option">
								<button type="submit"
										data-fn="add-watchlist"
										class="icon watchlisted-icon status-icon"></button>
							</div>
							<div data-fn="close-status-opts" class="icon close dark option"></div>
							<div class="status-btn option">
								<button type="submit"
										data-fn="remove-list"
										class="icon remove-icon"></button>
							</div>
						</div>
					</div>
					{{/ film.status.watched }}
					
					{{# film.status.watchlisted }}
					<div class="status-cont">
						<div class="status-btn current">
							<button type="submit"
									data-fn="open-status-opts"
									class="icon watchlisted-icon status-icon"></button>
						</div>
						<div data-fn="status-opts" class="options hidden-options">
							<div class="status-btn option">
								<button type="submit"
										data-fn="add-watched"
										class="icon watched-icon status-icon"></button>
							</div>
							<div data-fn="close-status-opts" class="icon close dark option"></div>
							<div class="status-btn option">
								<button type="submit"
										data-fn="remove-list"
										class="icon remove-icon"></button>
							</div>
						</div>
					</div>
					{{/ film.status.watchlisted }}
				</div>
			</article>
		</div>
	</section>

	<section class="f-more-info">
		<div class="cont">
			{{# film.directors }}
			<h4><span>Director:</span> {{ film.directors }}</h4>
			{{/ film.directors }}
			{{# film.writers }}
			<h4><span>Writer:</span> {{ film.writers }} </h4>
			{{/ film.writers }}
			{{# film.actors }}
			<h4><span>Actors:</span> {{ film.actors }}</h4>
			{{/ film.actors }}
			{{# film.countries }}
			<h4><span>Country:</span> {{ film.countries }}</h4>
			{{/ film.countries }}
			{{# film.genre }}
			<h4><span>Genre:</span>{{ film.genre }}</h4>
			{{/ film.genre }}
			{{# film.plot }}
			<div class="f-synopsis-cont arrow-cont">
				<input type="checkbox" id="synopsis-text" class="hidden"/>		
				<label for="synopsis-text" class="">
					<div class="arrow white-arrow">
						<div class="stroke"></div>
						<div class="stroke"></div>
					</div>
					<h3>synopsis</h3>
				</label>
				<p class='synopsis-text'>{{ film.plot }}</p>
			</div>
			{{/ film.plot }}
			<!-- <div class="recommend-cont">
				<button class="recommend dark">recommend</button>
			</div> -->
		</div>
	</section>

	<article class="peek">
		<section class="left-side">
			<section class="watched-by arrow-cont">
				<h3>Watched by</h3>
				<ul class="watchers-list">
					{{# film.watchersPast }}
					<li>
						<a href="#/user/{{ pk }}">{{ name }}</a>
					</li>
					{{/ film.watchersPast}}
					{{^ film.watchersPast }}
					<li class="nobody">none of your friends</li>
					{{/ film.watchersPast }}
				</ul>
			</section>
			<section class="watchlisted-by arrow-cont">
				<h3>Watchlisted by</h3>
				<ul class="watchers-list">
					{{# film.watchersFuture }}
					<li>
						<a href="#/user/{{ pk }}">{{ name }}</a>
					</li>
					{{/ film.watchersFuture }}
					{{^ film.watchersFuture }}
					<li class="nobody">none of your friends</li>
					{{/ film.watchersFuture }}
				</ul>
			</section>
			{{# film.friendsTags.length }}
			<section class="tagged-as-list arrow-cont">
				<input type="checkbox" id="tags-film" class="hidden" {{# open }}checked{{/ open }} />
				<label for="tags-film">
					<div class="arrow">
						<div class="stroke"></div>
						<div class="stroke"></div>
					</div>
					<h3>Labels<span class="number">{{ film.friendsTagsCount }}</span></h3>
				</label>
				<ul class="tags-on-film">
					{{# film.friendsTags }}
					<li>
						<a href="#/user/{{ pk }}" class="user">{{ name }}</a>
						<ul class="user-tags">
							{{# tags }}
							<li><a href="#/label/{{ . }}" class="tag">{{ . }}</a></li>
							{{/ tags }}
						</ul>
					</li>
					{{/ film.friendsTags }}
				</ul>
			</section>
			{{/ film.friendsTags.length }}
		</section>
		<section class="comments arrow-cont"></section>
	</article>
</div>
