<div class="film">

	<section class="f-details">

		<article class="f-poster-cont">
			<div class="image poster" style="background-image: url({{ film.poster_url }});"></div>
		</article>

		<article class="f-title-cont">
			<h2 class="f-title">{{ film.title }}</h2>
			<p class="f-year">{{ film.year }}</p>
		</article>
		
		<article class="f-status">
			<div class="icon eye1"></div>
		</article>

	</section>

	<section class="f-more-info">

		<h3>Synopsis</h3>
		<p class='synopsis-text'>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
		<h3 class="genre"><span>Genre:</span> Anime</h3>
		<h3><span>Director:</span> {{ film.directors }}</h3>
		<h3><span>Actors:</span> {{ film.actors }}</h3>

		<div class="recommend-cont">
			<button class="recommend light">recommend</button>
		</div>

	</section>
	
	<article class="peek">

		<section class="watched-by">
			<h3>Watched by</h3>
			<ul class="watchers-list">
				{{# watchers_past }}
				<li>
					<a href="#">@{{ name }}</a>
				</li>
				{{/ watchers_past}}
				{{^ watchers_past }}
				<li>nobody</li>
				{{/ watchers_past }}
			</ul>
		</section>

		<section class="watchlisted-by">
			<h3>Watchlisted by</h3>
			<ul class="watchers-list">
				{{# watchers_future }}
				<li>
					<a href="#">{{ name }}</a>
				</li>
				{{/ watchers_future }}
				{{^ watchers_future }}
				<li>nobody</li>
				{{/ watchers_future }}
			</ul>
		</section>

		<section class="comments">
			<input type="checkbox" id="comments" />
			<label for="comments">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Comments</h3>
			</label>
			<ul class="comments-list">
				{{# comments }}
				
				<li>
					<button type="button" data-fn="comment">comment</button>
				</li>
				<li>
					<a href="#" class="author">{{ author }}</a>
					<p class="text">{{ text }}</p>
					<ul>
						{{# replies }}
						<li>
							<a href="#" class="author">{{ author }}</a>
							<p class="text">{{ text }}</p>
						</li>
						{{/ replies }}
					</ul>
					<button type="button" data-fn="reply">reply</button>
				</li>
				{{/ comments }}
				{{^ comments }}
				<li>not yet</li>
				{{/ comments }}
			</ul>
		</section>
	</article>
</div>
