<div class="home">
	<section class="h-watchlist">
		<h2>Watchlist</h2>
		{{# watchlist }}
		<div class="watchlist-item">
			<a href="/#/film/{{ pk }}" class="">
				<h3 class="f-title">{{ title }}</h3>
				<h4>{{ year }} {{# directors }} | {{directors }} {{/ directors }}</h4>
			</a>
		</div>
		{{/ watchlist }}
		
		{{^ watchlist }}
		<div class="nothing-to-display">
			<h3>Nothing in your watchlist yet</h3>
			<p>Search for a film you wish to watch and add it to your watchlist.</p>
		</div>							
		{{/ watchlist }}
	</section>
	<a href="#/feed/me" class="new-update hidden">new update</a>
</div>
