<div class="home">
	<section class="h-lists">
		<div class="subnav">
			<a href="#/watchlist" data-nav="watchlist">
				<span class="icon watchlisted-icon-white"></span>
			</a>
			<a href="#/seen" data-nav="watched">
				<span class="icon watched-icon-white"></span>
			</a>
			<a href="#/updates" data-nav="updates">
				<span class="icon updates-icon-white"></span>
			</a>
			<a href="#/" data-nav="updates">
				<span class="icon friendship-icon"></span>
			</a>
			<a href="#/" data-nav="updates">
				<span class="icon tag-icon-white"></span>
			</a>
		</div>
		<section id="subview" class="subview"></section>
	</section>
</div>
