<aside class="h-updates-cont">
	<input type="checkbox" id="close-updates" class="hidden"/>
	<label for="close-updates" class="close icon"></label>
	<section class="h-updates">
		<h2>Recent updates</h2>
		{{# items }}
			{{# type.newFriend }}
			<p><a href="#/user/{{ user.pk }}">{{ user.name }}</a> is now your friend</p>
			<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
			{{/ type.newFriend }}
			
			{{# type.newFriendReq }}
			<p><a href="#/user/{{ user.pk }}">{{ user.name }}</a> wants to be friends with you</p>
			<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
			{{/ type.newFriendReq }}
			
			{{# type.newReply }}
			<p>
				<a href="#/user/{{ user.pk }}">{{ user.name }}</a>
				replied to your comment on
				<a href="#/film/{{ film.pk }}">{{ film.title }}</a>
			</p>
			<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
			{{/ type.newReply }}
			<!-- friend's recommendations-->
			<!--
			<p>
				<a href="#/user/{{ user.pk }}">{{ user.name }}</a>
				recommends you to watch
				<a href="#/film/{{ film.pk }}">{{ film.title }}</a>
			</p>
			<abbr class="timestamp"></abbr>
			 -->
		{{/ items }}
	</section>
</aside>
