<aside class="h-updates-cont">
	<input type="checkbox" id="close-updates" class="hidden"/>
	<label for="close-updates" class="close icon"></label>
	<section class="h-updates">
		<h2>Recent updates</h2>
		{{# items }}
			{{# type.newFriend }}
			<p><a href="#/user/{{ user.pk }}">{{ user.name }}</a> is now your friend</p>
			<p><abbr class="date" title="{{ created.iso }}">{{ created.ago }}</abbr></p>
			{{/ type.newFriend }}
			
			{{# type.newFriendReq }}
			<p><a href="#/user/{{ user.pk }}">{{ user.name }}</a> wants to be friends with you</p>
			<p><abbr class="date" title="{{ created.iso }}">{{ created.ago }}</abbr></p>
			{{/ type.newFriendReq }}
			
			{{# type.newReply }}
			<p>
				<a href="#/user/{{ user.pk }}">{{ user.name }}</a>
				replied to your comment on
				<a href="#/film/{{ film.pk }}">{{ film.title }}</a>
			</p>
			<p><abbr class="date" title="{{ created.iso }}">{{ created.ago }}</abbr></p>
			{{/ type.newReply }}
		{{/ items }}
	</section>
</aside>
