<div class="home">

	<aside class="h-updates">
		<div class="close icon"></div>
		<article class="h-notifications">
			<h3>Updates</h3>
			<p><a href="#">adderthebot</a> is now following you</p>
			<p><a href="#">adderthebot</a> recommends you to watch <a href="#">Black Adder(TV seriies)</a></p>
			<p><a href="#">pavelsof</a> recommends you to watch <a href="#">Game of Thrones</a></p>
		</article>
	</aside>

	<section class="h-feed">

			<div class="feed-item">
				<a href="/" class="">
					<div class="icon eye1"></div>
					<h3 class="f-title">Ghost in the shell</h3>
				</a>
				<p><a href="/">jamessulley</a> added to watchlist</p>
			</div>

			<div class="feed-item">
				<a href="/" class="">
					<div class="icon eye1"></div>
					<h3 class="f-title">Suicide squad</h3>
				</a>
				<p><a href="/">mikewazowski</a> added to watchlist</p>
			</div>

			<div class="feed-item">
				<a href="/" class="">
					<div class="icon eye1"></div>
					<h3 class="f-title">Gods must be crazy</h3>
				</a>
				<p><a href="/">randelboggs</a> added to watchlist</p>
			</div>

			<div class="feed-item">
				<a href="/" class="">
					<div class="icon eye1"></div>
					<h3 class="f-title">Narcos</h3>
				</a>
				<p><a href="/">pavelsof</a> added to watchlist</p>
			</div>									
	</section>

</div>
