<header>
	<a href="#/" class="heading" title="home">
<!-- 		<div class="image logo"></div> -->

 		<h1>film adder</h1>	
 	</a>
	<nav>
		<a href="#/updates" class="nav-item" title="updates">
			<span class="nav-icon updates-icon"></span>
		</a>
		<a href="#/feed" class="nav-item" title="friends activity">
			<span class="nav-icon feed-icon"></span>
		</a>
		<a href="#/me" class="nav-item" title="me">
			<span class="nav-icon profile-icon"></span>
		</a>
	</nav>
</header>
<div id="view"></div>
<form autocomplete="off" id="search-form">
	<!--<div class="search icon"></div>-->
	<input type="search" name="q"
		autocomplete="off" required
		placeholder="Search" />
</form>
