<header>
	<a href="#/"><h1>film adder</h1></a>
	<nav>
		<a href="#/me" class="nav-item" title="me">
			<span class="">me</span>
		</a>
		<a href="#/updates" class="nav-item" title="updates">
			<span class="">updts</span>
		</a>
		<a href="#/feed" class="nav-item" title="friends activity">
			<span class="">feed</span>
		</a>
	</nav>
</header>
<div id="view"></div>
<form autocomplete="off" id="search-form">
	<!--<div class="search icon"></div>-->
	<input type="search" name="q"
		autocomplete="off" required
		placeholder="Search" />
</form>
