<!-- navigation:
	 * primary
	 	- feed
	 	- me (my profile)
	 * secondary
	 	- settings
	 	- notifications
	 	- logout button -->

<header class="header-inner">
	<div class="width-controller">
		<!-- side navigation
			 * mobile: includes all nav links
			 * desktop: only secondary nav links-->
		<nav class="nav side-nav hidden">
			<ul class="main-nav">
				<li>
					<div class="me avatar-medium image" style="background-image: url('{{ user.avatarUrl }}')"></div>
				</li>
				<li>
					<a href="#/" title="my profile" data-nav="main:me">me</a>
				</li>
				<li>
					<a href="#/feed" title="feed" data-nav="main:feed">feed</a>
				</li>
				<li>
					<a href="#/updates" title="notifications" data-nav="main:updates">notifications</a>
				</li>
				<li>
					<a href="#/settings"  title="settings" data-nav="main:settings">settings</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="#/logout" title="logout" class="btn dark">logout</a>
				</li>
			</ul>
		</nav>
		<div class="nav-opener" data-fn="home-link">
			<div class="image logo"></div>
			<div class="notification-marker no-display"></div>
		</div>
		<div class="current-view">
			<h1 class="unselectable">film adder</h1>
		</div>
		<div class="search-btn" id="search-btn">
			<div class="search icon"></div>
		</div>
	</div>
</header>
<div id="view" data-fn="view"></div>
<form novalidate autocomplete="off" id="search-form" class="hidden">
	<input type="search" name="q" novalidate
		autocomplete="off" required
		placeholder="Search" />
	<button type="submit" class="do-search hidden"></button>
</form>
