<div class="internal-links">
	<label for="watchlist-btn" title="watchlist">
		<input type="radio" name="list" value="watchlist-btn" id="watchlist-btn" />
		<span class="icon watchlisted-icon"></span>
	</label>
	<label for="watched-btn" title="watched">
		<input type="radio" name="list" value="watched-btn" id="watched-btn" />
		<span class="icon watched-icon"></span>
	</label>
	<label for="label-btn" title="labels">
		<input type="radio" name="list" value="labels-btn" id="label-btn" />
		<span class="icon tag-icon"></span>
	</label>
	<label for="comment-btn" title="comments">
		<input type="radio" name="list" value="commetns-btn" id="comment-btn" />
		<span class="icon comment-icon"></span>
	</label>
	<label for="friendship-btn" title="friendship">
		<input type="radio" name="list" value="friendship-btn" id="friendship-btn" />
		<span class="icon friendship-icon"></span>
	</label>
</div>

<div id="news-cont"></div>
