<div class="profile">

	<section class="p-intro">

		<article>
			<h2 class="username">stelaseldano</h2>
			<div class="p-stats">
				<p><span>125</span> watched</p>
				<p><span>53</span> watchlisted</p>
				<p><span>17</span> comments</p>
			</div>
		</article>

		<!-- if my prfofile -->
		<button>stg</button>
		<!-- endif -->

	</section>

	<article class="peek">

		<section class="watched arrow-cont">
			<input type="checkbox" id="watched" />
			<label for="watched">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Watched</h3>
			</label>
			<ul class="film-list">
				<li>
					<a href="#" class="f-title">Before Sunrise</a>
					<!-- if my profile -->
					<article class="f-status">
						<div class="icon eye1"></div>
					</article>
					<!-- endif -->
				</li>
				<li>
					<a href="#" class="f-title">Before Sunset</a>
				</li>
				<li>
					<a href="#" class="f-title">Waking Life</a>
				</li>
				<li>
					<a href="#" class="f-title">The Big Bang Theory</a>
				</li>
				<li>
					<a href="#" class="f-title">12 Angry Men</a>
				</li>
			</ul>
		</section>

		<section class="watchlisted arrow-cont">
			<input type="checkbox" id="watchlisted" />
			<label for="watchlisted">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Watchlisted</h3>
			</label>

			<ul class="film-list">
				<li>
					<a href="#" class="f-title">The Godfather</a>
				</li>
				<li>
					<a href="#" class="f-title">12 Naughty Children</a>
				</li>
				<li>
					<a href="#" class="f-title">Ghost in the Shell</a>
				</li>
			</ul>
		</section>
	</article>
</div>
