<div class="profile">
	<div class="p-intro-cont">
		<section class="p-intro">
			<div class="avatar image"></div>
			<!-- <div class="avatar-message">This avatar has been randomly assinged to you. Change it from settings.</div> -->
			<article>
				<h2 class="username">{{ user.name }}</h2>
				<div class="p-buttons p-relationship">
					{{# user.status.friend }}
					<p>you are friends</p>
					</button>
					{{/ user.status.friend }}
					
					{{# user.status.self }}
					<a href="#/settings" title="account settings" class="icon settings-icon"></a>
					{{/ user.status.self }}
				</div>
			</article>
			
		</section>
	</div>
	
	{{# user.status.unknown }}
	<article class="no-peek">
		<h2>You are not friends</h2>
		<p>Do you want to become friends with {{ user.name }}?</p>
		<button type="button" data-fn="request-friend" class="light">add friend</button>
	</article>
	{{/ user.status.unknown }}
	
	{{# user.status.waiting }}
	<article class="no-peek">
		<h2>Friend request received</h2>
		<p>{{ user.name }} wants to be friends with you</p>
		<p>
			<button type="button" data-fn="accept-friend" class="light">accept</button>
			<button type="button" data-fn="reject-friend" class="light">reject</button>
		</p>
	</article>
	{{/ user.status.waiting }}
	
	{{# user.status.asked }}
	<article class="no-peek">
		<h2>Friend request sent</h2>
		<p>you have asked <strong>{{ user.name }}</strong> to be friends with you</p>
	</article>
	{{/ user.status.asked }}
	
	{{# user.showData }}
	<article class="peek">
		<section class="watched arrow-cont">
			<input type="checkbox" id="peek-watched" class="hidden" />
			<label for="peek-watched">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Watched<span class="number">{{ user.filmsPast.length }}</span></h3>
			</label>
			<ul class="film-list">
				{{# user.filmsPast }}
				<li>
					<a href="#/film/{{ pk }}">
						<h2 class="f-title">{{ title }}</h2>
						<h4>{{ year }} {{# directors }} | {{ directors }} {{/ directors }}</h4>
					</a>
					<ul class="tags">
						{{# tags }}
						<li><a href="#/label/{{ . }}" class="tag">{{ . }}</a></li>
						{{/ tags }}
					</ul>
				</li>
				{{/ user.filmsPast }}
				{{^ user.filmsPast }}
				<li class="nothing-to-display">
					<h3>Nothing in watched films</h3>
					{{# user.status.self }}
					<p>Search for films you have seen and add them to your watched films.</p>
					{{/ user.status.self }}
				</li>
				{{/ user.filmsPast }}
			</ul>
		</section>

		<section class="watchlisted arrow-cont">
			<input type="checkbox" id="peek-watchlist" class="hidden" />
			<label for="peek-watchlist">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Watchlist<span class="number">{{ user.filmsFuture.length }}</span></h3>
			</label>
			<ul class="film-list">
				{{# user.filmsFuture }}
				<li>
					<a href="#/film/{{ pk }}">
						<h2 class="f-title">{{ title }}</h2>
						<h4>{{ year }} {{# directors }} | {{ directors }} {{/ directors }}</h4>
					</a>
				</li>
				{{/ user.filmsFuture }}
				{{^ user.filmsFuture }}
				<li class="nothing-to-display">
					<h3>Nothing in watchlisted films</h3>
					{{# user.status.self }}
					<p>Search for a film you wish to watch and add it to your watchlist.</p>
					{{/ user.status.self }}
				</li>
				{{/ user.filmsFuture }}
			</ul>
		</section>

		<section class="tags arrow-cont">
			<input type="checkbox" id="peek-tags" class="hidden" />
			<label for="peek-tags">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Tags<span class="number">{{ user.tags.length }}</span></h3>
			</label>
			<ul class="tags-list">
				{{# user.tags }}
				<li><a href="#/label/{{ . }}" class="tag">{{ . }}</a></li>
				{{/ user.tags }}
			</ul>
		</section>

		<section class="friends arrow-cont">
			<input type="checkbox" id="peek-friends" class="hidden" />
			<label for="peek-friends">
				<div class="arrow">
					<div class="stroke"></div>
					<div class="stroke"></div>
				</div>
				<h3>Friends<span class="number">{{ user.friends.length }}</span></h3>
			</label>
			<ul class="friends-list">
				{{# user.friends }}
				<li>
					<a href="#/user/{{ pk }}" class="user">{{ name }}</a>
				</li>
				{{/ user.friends }}
				{{^ user.friends }}
				{{# user.status.self }}
				<li class="nothing-to-display">
					<h3>No friends</h3>
					<p>Search for friends using <strong>u!</strong> in the query, for example <strong>adderthebot u!</strong></p>
				</li>
				{{/ user.status.self }}
				{{^ user.status.self }}
				<li>nobody</li>
				{{/ user.status.self}}
				{{/ user.friends }}
			</ul>
		</section>
	</article>
	{{/ user.showData }}
</div>
