<form novalidate id="form">

	<div data-fn="error" class="error"></div>
	
	<p>
		<label for="reg-email">email</label>
		<input type="email" name="email" id="reg-email" />
		<span data-fn="error"></span>
	</p>
	
	<p>
		<label for="reg-name">username</label>
		<input type="text" name="name" id="reg-name" />
		<span data-fn="error"></span>
	</p>
	
	<p>
		<label for="reg-pass1">pass</label>
		<input type="password" name="pass1" id="reg-pass1" />
		<span data-fn="error"></span>
	</p>
	
	<p>
		<label for="reg-pass2">repeat pass</label>
		<input type="password" name="pass2" id="reg-pass2" />
		<span data-fn="error"></span>
	</p>
	
	<button type="submit" class="light">create account</button>
</form>
