<form novalidate id="form">
	<h2>Create an account</h2>

	<p data-fn="error" class="form error"></p>
	
	<p>
		<label for="reg-email">email</label>
		<span data-fn="error" class="field error"></span>
		<input novalidate autocomplete="off" type="email" name="email" id="reg-email" />
	</p>
	
	<p>
		<label for="reg-name">username</label>
		<span data-fn="error" class="field error"></span>
		<input novalidate autocomplete="off" type="text" name="name" id="reg-name" placeholder="usernames can't be changed"/>
	</p>
	
	<p>
		<label for="reg-pass1">password</label>
		<span data-fn="error" class="field error"></span>
		<input type="password" name="pass1" id="reg-pass1" />
	</p>
	
	<p>
		<label for="reg-pass2">repeat password</label>
		<span data-fn="error" class="field error"></span>
		<input type="password" name="pass2" id="reg-pass2" />
	</p>
	
	<button type="submit" class="dark">create account</button>
</form>

<section class="wrong-form">
	<p>Already have an account?</p>
	<a href="/#/login">go to login</a>
</section>
