<div class="settings">
	<h2>settings</h2>

	<ul class="settings-items">
		<li class="settings-item">
			<h3>password</h3>
			<p>*********</p>
			<input type="checkbox" id="change-password" />
			<label for="change-password" class="change">change password</label>
			<form novalidate id="password-form" class="new-password-cont">
				<p data-fn="error" class="form error"></p>
				<li>
					<label>current password</label>
					<span data-fn="error" class="field error"></span>
					<input type="password" name="pass0" autocomplete="off" />
				</li>
				<li>
					<label>new password</label>
					<span data-fn="error" class="field error"></span>
					<input type="password" name="pass1" autocomplete="off" />
				</li>
				<li>
					<label>repeat new password</label>
					<span data-fn="error" class="field error"></span>
					<input type="password" name="pass2" autocomplete="off" />
				</li>
				<button type="submit" class="light">save</button>
			</form>
		</li>
	</ul>
</div>
