<div class="settings">
	<h2>Account settings</h2>

	<ul class="settings-items">

		<li class="settings-item">
			<h3>username</h3>
			<p>stelaseldano</p>
			<input type="checkbox" id="change-username" />
			<label for="change-username" class="change">change username</label>
			<form class="new-username-cont">
				<label>new username</label>
				<input type="text" />
				<button type="submit" class="light">save</button>
			</form>
		</li>

		<li class="settings-item">
			<h3>password</h3>
			<p>************</p>
			<input type="checkbox" id="change-password" />
			<label for="change-password" class="change">change password</label>
			<form class="new-password-cont">
				<li>
					<label>current password</label>
					<input type="password" />
				</li>
				<li>
					<label>new password</label>
					<input type="password" />
				</li>
				<li>
					<label>repeat new password</label>
					<input type="password" />
				</li>
				<button type="submit" class="light">save</button>
			</form>
		</li>
		<li class="settings-item">
			<button data-fn="logout" class="light">logout</button>
		</li>
	</ul>
</div>
