<article class="tag-view">
	<h1 class="tag">{{ tag.tag }}</h1>
	
	{{# tag.users }}
	<section class="user-film-list">
		<article class="peek">
			<section class="user-tag arrow-cont">
				<input type="checkbox" id="user-tag-{{ pk }}" class="accordion" />
				<label for="user-tag-{{ pk }}">
					<div class="arrow">
						<div class="stroke"></div>
						<div class="stroke"></div>
					</div>
					<h3>{{ name }}<span class="number">{{ films.length }}</span></h3>
				</label>
				<ul class="films-list">
					{{# films }}
					<li>
						<a href="#/film/{{ pk }}" class="listed-films">
							<h2 class="f-title">{{ title }}</h2>
							<h4>{{ year }} {{# directors }} | {{ directors }} {{/ directors }}</h4>
						</a>
						<ul class="tags">
							{{# film.tags }}
							<li><a href="#/label/{{ . }}" class="tag">{{ . }}</a></li>
							{{/ film.tags }}
						</ul>
					</li>
					{{/ films }}
				</ul>
			</section>
		</article>
	</section>
	{{/ tag.users }}
</article>
