{{# items }}
	{{# type.newFriend }}
	<div class="update-item">
		<div class="actions">
			<a href="#/user/{{ user.pk }}" class="user">
			<div class="avatar-medium image" style="background-image: url('{{ user.avatarUrl }}')"></div>{{ user.name }}</a>
			<p> and you are now friends</p>
		</div>
		<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	</div>
	{{/ type.newFriend }}
	
	{{# type.newFriendReq }}
	<div class="update-item">
		<div class="actions">
			<a href="#/user/{{ user.pk }}" class="user">
			<div class="avatar-medium image" style="background-image: url('{{ user.avatarUrl }}')"></div>{{ user.name }}</a>
			<p> wants to be friends with you</p>
		</div>	
		<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	</div>
	{{/ type.newFriendReq }}
	
	{{# type.newReply }}
	<div class="update-item">
		<p>
			<a href="#/user/{{ user.pk }}" class="user">
			<div class="avatar-medium image" style="background-image: url('{{ user.avatarUrl }}')"></div>
			{{ user.name }}</a>
			replied to your comment on
			<a href="#/film/{{ film.pk }}">{{ film.title }}</a>
		</p>
		<abbr class="timestamp" title="{{ created.iso }}">{{ created.ago }}</abbr>
	</div>
	{{/ type.newReply }}
{{/ items }}
