<div class="updates-cont">
	<h2>Updates</h2>
	<div class="update-item">
		<p><a href="/">adderthebot</a> is following you</p>
	</div>

	<div class="update-item recommendation">
		<div class="recommended-film">
			<a href="#"><h3>Black Adder (TV seriies)</h3></a>
			<p><a href="/">adderthebot</a> recommends you</p>
		</div>
		<div class="f-status">
			<div class="icon eye1"></div>
		</div>
	</div>

	<div class="update-item recommendation">
		<div class="recommended-film">
			<a href="#"><h3>A Clockwork Orange</h3></a>
			<p><a href="/">pavelsof</a> recommends you</p>
		</div>
		<div class="f-status">
			<div class="icon eye1"></div>
		</div>
	</div>

	<div class="update-item">
		<p><a href="/">blackadder</a> is following you</p>
	</div>

	<div class="update-item">
		<p><a href="/">adderthebot</a> replied to your <a href="/">comment on The Iron Lady</a></p>
	</div>
</div>