<div class="updates-cont">
<!-- 	<div class="update-item">
		<p><a href="/">adderthebot</a> is following you</p>
	</div>

	<div class="update-item recommendation">
		<div class="recommended-film">
			<a href="#"><h3 class="f-title">Black Adder (TV seriies)</h3></a>
			<p><a href="/">adderthebot</a>'s recommendation</p>
		</div>
	</div>

	<div class="update-item recommendation">
		<div class="recommended-film">
			<a href="#"><h3 class="f-title">A Clockwork Orange</h3></a>
			<p><a href="/">pavelsof</a>'s recommendation</p>
		</div>
	</div>

	<div class="update-item">
		<p><a href="/">blackadder</a> is following you</p>
	</div>

	<div class="update-item">
		<p><a href="/">adderthebot</a> replied to your <a href="/">comment on The Iron Lady</a></p>
	</div> -->
	<div class="nothing-to-display">
		<h3>Nothing in your updates</h3>
		<p>Add friends and get film recommendations from them.</p>
	</div>
</div>