<div class="updates-cont">
	<h2>Updates</h2>
	<div class="update-item">
		<p><a href="/">adderthebot</a> is following you</p>
	</div>

	<div class="update-item">
		<a href="#"><h3>Black Adder (TV seriies)</h3></a>
		<p><a href="/">adderthebot</a> recommends you to watch</p>
	</div>

	<div class="update-item">
		<a href="#"><h3>A Clockwork Orange</h3></a>
		<p><a href="/">pavelsof</a> recommends you to watch</p>
	</div>

	<div class="update-item">
		<p><a href="/">blackadder</a> is following you</p>
	</div>

	<div class="update-item">
		<p><a href="/">adderthebot</a> replied to your <a href="/">comment on The Iron Lady</a></p>
	</div>
</div>